@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Light.eot");
  src: url("../fonts/Circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Light.woff") format("woff"), url("../fonts/Circe/Circe-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
.footer-v1 {
  background: #282828;
  color: #999;
  line-height: 1.31;
  padding: 63px 0 62px;
}
.footer-v1 .logo {
  margin: 0 0 49px;
}

.description-company {
  max-width: 280px;
}
.description-company .link {
  margin: 17px 0 0;
  font-size: 13px;
}

.link-politics {
  text-align: right;
  margin: 0 0 0 auto;
}

.footer-bottom {
  padding: 39px 0 0;
  margin: 50px 0 0;
  border-top: 1px solid rgba(153, 153, 153, 0.1);
}

.form-subscribe {
  position: relative;
  max-width: 810px;
  width: calc(100% - 24px - 184px - 16px - 37px);
}
.form-subscribe label {
  margin: 0;
}
.form-subscribe button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 32px;
}
.form-subscribe input {
  border: solid 1px #999;
  color: #fff;
  background-color: #282828;
  padding: 0 170px 0 27px;
}
.form-subscribe input::-webkit-input-placeholder {
  color: #999;
}
.form-subscribe input::-moz-placeholder {
  color: #999;
}
.form-subscribe input:-ms-input-placeholder {
  color: #999;
}
.form-subscribe input::-ms-input-placeholder {
  color: #999;
}
.form-subscribe input::placeholder {
  color: #999;
}
.form-subscribe input:hover, .form-subscribe input:focus {
  color: #fff;
}

.subscribe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 49px;
}

.subscribe-wrapper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 0 0;
}
.subscribe-wrapper-text__icon {
  width: 37px;
  min-width: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribe-wrapper-text__title {
  max-width: 185px;
  margin: 0 0 0 16px;
  color: #fff;
}

.footer-box__title {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 27px;
}

.footer-menu {
  margin: 0 0 30px;
}
.footer-menu:last-child {
  margin: 0;
}
.footer-menu li {
  margin: 0 0 12px;
}
.footer-menu li:last-child {
  margin: 0;
}
.footer-menu li a {
  color: #999;
}
.footer-menu li a:hover {
  color: #fff;
}
.footer-menu li .color-white {
  color: #fff;
}
.footer-menu li .color-white:hover {
  color: #6989ad;
}
.footer-menu li .footer-box__title {
  margin: 0;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 28px;
  position: relative;
  padding: 0 0 0 29px;
}
.footer-contacts__icon {
  fill: #fff;
  width: 20px;
  height: 20px;
  min-width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
.footer-contacts a {
  color: #fff;
}
.footer-contacts a:hover {
  color: #6989ad;
}
.footer-contacts a:hover .footer-contacts__icon {
  fill: #6989ad;
}

.footer-phone {
  font-weight: bold;
  margin: 0 0 10px;
}

.link-callback {
  border-bottom: 1px dashed #fff;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-social li {
  margin: 0 19px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 0 18px 0 rgba(41, 41, 41, 0.1);
          box-shadow: 0 0 18px 0 rgba(41, 41, 41, 0.1);
  background: rgba(255, 255, 255, 0.1);
  fill: #999;
  padding: 12px;
}
.list-social li a:hover {
  background: #6989ad;
  fill: #fff;
}

@media only screen and (max-width: 992px) {
  .description-company {
    max-width: none;
    margin: 0 0 30px;
  }
  .subscribe-wrapper {
    margin: 0 0 30px;
  }
  .footer-v1 {
    padding: 30px 0;
  }
  .footer-v1 .logo {
    margin: 0 auto 20px;
    max-width: 180px;
  }
  .footer-box {
    margin: 0 0 30px;
  }
  .footer-box__title {
    margin: 0 0 20px;
  }
  .footer-bottom {
    margin: 30px 0 0;
    padding: 20px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .form-subscribe {
    max-width: none;
    width: 100%;
  }
  .subscribe-wrapper-text {
    margin: 0 auto 20px;
  }
}
@media only screen and (max-width: 576px) {
  .footer-bottom {
    text-align: center;
  }
  .link-politics {
    margin: 5px auto 0;
  }
  .footer-menu {
    margin: 0 0 10px;
  }
  .footer-menu:last-child {
    margin: 0 0 10px;
  }
}
@media only screen and (max-width: 420px) {
  .form-subscribe button {
    position: relative;
    margin: 20px auto 0;
  }
  .form-subscribe input {
    padding: 0 15px;
  }
}