@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Light.eot");
  src: url("../fonts/Circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Light.woff") format("woff"), url("../fonts/Circe/Circe-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
}
.footer-v2 {
  background: #f5f5f5;
  color: #545454;
  line-height: 1.31;
  padding: 50px 0;
}
.footer-v2 .logo {
  margin: 0 0 30px;
}
.footer-v2 a.color-grey {
  color: #545454;
}

.footer-bottom {
  padding: 39px 0 0;
  margin: 39px 0 0;
  border-top: 1px solid #d9d9d9;
}

.form-subscribe {
  position: relative;
  width: 100%;
}
.form-subscribe label {
  margin: 0;
}
.form-subscribe button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 12px;
  width: 46px;
  height: 100%;
}
.form-subscribe input {
  border: solid 1px #d9d9d9;
  color: #fff;
  background-color: transparent;
  padding: 0 46px 0 24px;
}
.form-subscribe input::-webkit-input-placeholder {
  color: #a5a5a5;
}
.form-subscribe input::-moz-placeholder {
  color: #a5a5a5;
}
.form-subscribe input:-ms-input-placeholder {
  color: #a5a5a5;
}
.form-subscribe input::-ms-input-placeholder {
  color: #a5a5a5;
}
.form-subscribe input::placeholder {
  color: #a5a5a5;
}
.form-subscribe input:hover, .form-subscribe input:focus {
  color: #000;
}

.subscribe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.subscribe-wrapper .box-text {
  color: #545454;
  max-width: 310px;
  margin: 0 0 24px;
}

.footer-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.footer-box__title {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 27px;
  color: #000;
}

.footer-box-catalog {
  padding: 0 0 0 60px;
  width: 100%;
  margin: 0;
}

.footer-menu {
  margin: 0 0 30px;
}
.footer-menu:last-child {
  margin: 0;
}
.footer-menu li {
  margin: 0 0 12px;
}
.footer-menu li:last-child {
  margin: 0;
}
.footer-menu li a {
  color: #545454;
}
.footer-menu li a:hover {
  color: #6989ad;
}
.footer-menu li .footer-box__title {
  margin: 0;
  color: #000;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 28px;
  position: relative;
  padding: 0 0 0 29px;
}
.footer-contacts__icon {
  fill: #6989ad;
  width: 20px;
  height: 20px;
  min-width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
.footer-contacts a {
  color: #000;
}
.footer-contacts a:hover {
  color: #6989ad;
}
.footer-contacts a:hover .footer-contacts__icon {
  fill: #6989ad;
}

.schedule-time {
  text-transform: uppercase;
  font-size: 13px;
  margin: 12px 0 0;
  color: #010101;
}

.footer-phone {
  font-weight: bold;
  margin: 0 0 10px;
}

.link-callback {
  border-bottom: 1px dashed #000;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.list-social li {
  margin: 0 23px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19px;
  height: 15px;
  fill: #999;
}
.list-social li a:hover {
  fill: #6989ad;
}

@media only screen and (max-width: 1200px) {
  .footer-box-catalog {
    padding: 0;
  }
  .footer-box {
    margin: 0;
  }
  .subscribe-wrapper .box-text {
    max-width: none;
  }
}
@media only screen and (max-width: 992px) {
  .footer-contacts {
    margin: 0 auto 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer-v2 {
    padding: 30px 0;
  }
  .footer-v2 .logo {
    margin: 0 auto 20px;
    max-width: 180px;
  }
  .footer-box {
    margin: 0 0 30px;
  }
  .footer-box__title {
    margin: 0 0 20px;
  }
  .footer-bottom {
    margin: 30px 0 0;
    padding: 20px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .list-social {
    width: 100%;
    margin: 10px 0;
  }
  .form-subscribe {
    max-width: none;
    width: 100%;
  }
  .subscribe-wrapper-text {
    margin: 0 auto 20px;
  }
}
@media only screen and (max-width: 576px) {
  .list-social {
    margin: 10px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copyright {
    text-align: center;
    width: 100%;
  }
  .footer-bottom {
    text-align: center;
  }
  .link-politics {
    margin: 5px auto 0;
  }
  .footer-menu {
    margin: 0 0 10px;
  }
  .footer-menu:last-child {
    margin: 0 0 10px;
  }
}