@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Light.eot");
  src: url("../fonts/Circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Light.woff") format("woff"), url("../fonts/Circe/Circe-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
header {
  border-radius: 6px;
  -webkit-box-shadow: 0px 7px 6px 0 rgba(41, 41, 41, 0.1);
          box-shadow: 0px 7px 6px 0 rgba(41, 41, 41, 0.1);
  background: #fff;
  padding: 18px 0;
  position: relative;
  z-index: 2;
}
header .logo {
  margin: 0 auto;
}

.logo {
  max-width: 201px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location-wrapper {
  margin: 0 18px;
  padding: 0 23px;
}
.location-wrapper .dropdown-menu {
  -webkit-box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21);
          box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21);
  border: solid 1px #ededed;
  border-radius: 6px;
  width: 100%;
  background-color: #fff;
  padding: 82px 14px 10px;
  left: 50% !important;
  top: -42px !important;
  -webkit-transform: translate(-50%, 0) !important;
          transform: translate(-50%, 0) !important;
}
.location-wrapper .dropdown-menu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

.location-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 16px;
  z-index: 1001;
  position: relative;
}
.location-city__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px 0 0;
  width: 12px;
  height: 14px;
  min-width: 12px;
  fill: #6989ad;
}
.location-city:hover {
  color: #000;
}

.form-search {
  width: 100%;
  position: relative;
  margin: 0 0 15px;
}
.form-search label {
  margin: 0;
}
.form-search button {
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 10px;
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}
.form-search input {
  background: #fff;
  padding: 0 25px 0 12px;
}
.form-search input:focus {
  -webkit-box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21);
          box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21);
  border: solid 1px #6989ad;
}

.link-autosearch {
  margin: 0 0 27px;
  font-weight: bold;
}

.list-cities {
  padding-bottom: 35px;
}
.list-cities li {
  margin: 0 0 7px;
  width: 100%;
}
.list-cities li:last-child {
  margin: 0;
}
.list-cities li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  width: 100%;
}
.list-cities li a::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 13px;
  background: url("../img/checked.svg") no-repeat center;
  background-size: 100%;
  opacity: 0;
}
.list-cities li a:hover {
  color: #6989ad;
}
.list-cities li a.checked {
  color: #6989ad;
}
.list-cities li a.checked::after {
  opacity: 1;
}

.btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20px;
  min-width: 20px;
  height: 14px;
  cursor: pointer;
  position: relative;
}
.btn-burger span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #000;
}
.btn-burger.open span {
  position: absolute;
  width: 20px;
  top: 5px;
  left: 2px;
}
.btn-burger.open span:nth-child(2) {
  width: 0;
}
.btn-burger.open span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn-burger.open span:last-child {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-weight: bold;
}
.phone:hover {
  color: #6989ad;
}
.phone-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin: 0 9px 0 0;
  fill: #6989ad;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}
.mail:hover {
  color: #6989ad;
}
.mail-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13px;
  min-width: 13px;
  height: 12px;
  margin: 0 11px 0 0;
  fill: #6989ad;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-box .link-callback {
  border-bottom: 1px dashed #6989ad;
  margin: 0 0 0 12px;
  color: #000;
}
.header-box .link-callback:hover {
  color: #6989ad;
}

.btn-search {
  width: 19px;
  height: 20px;
  min-width: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #000;
}

.search-header {
  margin: 0 40px 0 43px;
}
.search-header .dropdown-menu {
  min-width: 300px;
  padding: 10px;
  border: solid 1px #ededed;
  -webkit-box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21);
          box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21);
  top: 38px !important;
}
.search-header .form-search {
  margin: 0;
}

.mobile-menu {
  display: none;
  position: absolute;
  left: 50%;
  top: 95px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 1500px;
  width: 100%;
  background: #fff;
  z-index: 10;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21);
          box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21);
}
.mobile-menu__head {
  display: none;
}
.mobile-menu__close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 20px;
  top: 20px;
}
.mobile-menu__close:before, .mobile-menu__close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 2px;
  height: 100%;
  background: #000;
  border-radius: 2px;
}
.mobile-menu__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mobile-menu__close:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.mobile-menu .logo {
  max-width: 160px;
  margin: 0 auto;
}
.mobile-menu__footer {
  display: none;
}
.mobile-menu .location-city {
  margin: 0 auto 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.mobile-menu .form-search {
  margin: 10px 0 0;
  display: none;
}
.mobile-menu .mail {
  margin: 10px 0;
}
.mobile-menu .mail-icon {
  margin: 0 11px 0 0;
  width: 20px;
  height: 20px;
  min-width: 20px;
}
.mobile-menu .header-box {
  margin: 0;
}
.mobile-menu .btn {
  margin: 30px 0 0;
  width: 100%;
}
.mobile-menu .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 18px;
}
.mobile-menu .menu > li {
  margin: 0;
}
.mobile-menu .menu > li:hover > a {
  background: #f5f5f5;
  color: #000;
}
.mobile-menu .menu > li:hover > .dropdown-menu {
  display: block;
}
.mobile-menu .menu > li > a {
  height: 100%;
  width: 100%;
  padding: 23px 2px;
  text-align: center;
}
.mobile-menu .menu > li:first-child > a {
  border-radius: 0 0 0 6px;
}
.mobile-menu .menu > li:last-child > a {
  border-radius: 0 0 6px 0;
}
.mobile-menu .menu .dropdown-menu {
  display: none;
  top: 100% !important;
  left: 0 !important;
  -webkit-transform: none !important;
          transform: none !important;
  min-width: 314px;
  background: #f5f5f5;
  border: none;
  border-radius: 0;
  padding: 0;
}
.mobile-menu .menu .dropdown-menu .dropdown-menu {
  left: 100% !important;
  top: 0 !important;
}
.mobile-menu .menu .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 18px;
}
.mobile-menu .menu .submenu li {
  margin: 0;
  width: 100%;
}
.mobile-menu .menu .submenu li:hover > a {
  background: #6989ad;
  color: #fff;
}
.mobile-menu .menu .submenu li a {
  text-align: left;
  padding: 6px 10px 6px 26px;
  border-radius: 0;
}

.menu {
  font-size: 16px;
}
.menu li {
  width: 100%;
  margin: 0 0 10px;
}
.menu li a {
  color: #000;
}
.menu li a:hover {
  color: #6989ad;
}

@media only screen and (max-width: 1440px) {
  .mobile-menu .menu {
    font-size: 16px;
  }
  .mobile-menu .menu .submenu {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1300px) {
  .logo {
    max-width: 180px;
  }
  .search-header {
    margin: 0 20px;
  }
  .header-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-box .link-callback {
    margin: 0 0 0 30px;
  }
  .search-header .dropdown-menu {
    top: 35px !important;
  }
  .mobile-menu {
    top: 85px;
  }
  .mobile-menu .menu {
    font-size: 14px;
  }
  .mobile-menu .menu .submenu {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1100px) {
  .location-wrapper {
    display: none;
  }
  .btn-burger {
    margin: 0 40px 0 0;
  }
}
@media only screen and (max-width: 992px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 280px;
    border-radius: 0;
    overflow-y: auto;
    height: 100%;
    -webkit-transform: none;
            transform: none;
    padding: 30px;
  }
  .mobile-menu .location-city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-menu__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-menu__head {
    display: block;
  }
  .mobile-menu__body {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
  .mobile-menu__footer, .mobile-menu .form-search {
    display: block;
  }
  .mobile-menu .menu {
    font-size: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-menu .menu li {
    width: 100%;
    margin: 0 0 10px;
  }
  .mobile-menu .menu li a {
    height: auto;
    padding: 0;
    text-align: left;
  }
  .mobile-menu .menu .dropdown-menu {
    min-width: none;
    width: 100%;
  }
}
@media only screen and (max-width: 870px) {
  header .mail {
    margin: 0 10px 0 0;
  }
  header .logo {
    margin: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .btn-burger {
    margin: 0 auto 0 20px;
  }
  .logo {
    max-width: 140px;
  }
  .search-header .dropdown-menu {
    top: 30px !important;
  }
}
@media only screen and (max-width: 800px) {
  header .mail-text {
    display: none;
  }
  .mail-icon {
    margin: 0;
    width: 20px;
    height: 20px;
    min-width: 20px;
  }
  .header-box .link-callback {
    display: none;
  }
}
@media only screen and (max-width: 670px) {
  header .btn {
    padding: 0 18px;
    font-size: 14px;
    height: 42px;
  }
  header .phone-text {
    display: none;
  }
  header .phone-icon {
    margin: 0;
  }
  .search-header .dropdown-menu {
    top: 50px !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
  }
}
@media only screen and (max-width: 480px) {
  .logo {
    max-width: 100px;
  }
  .btn-burger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 0 20px;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  header .btn {
    display: none;
  }
  .search-header {
    display: none;
  }
}