// fonts
$font1: 'Circe', sans-serif

// colors	
$accent: #6989ad
$green: #29bd35
$light_grey: #BBBBBB
$grey: #999



// mixins	
@mixin d-flex()
	display: flex
	align-items: center
	justify-content: center
