// fonts
$font1: 'Circe', sans-serif

// colors	
$accent: #6989ad
$green: #68BD29
$green-light: #A2DA79
$light_grey: #BBBBBB
$grey: #999
$red: #DC2F2F
$red-light: #F1ACAC


// mixins	
@mixin d-flex()
	display: flex
	align-items: center
	justify-content: center
