@import "fonts"
@import "vars"

.header-v3
	border-radius: 6px
	box-shadow: 0px 11px 10px 0 rgba(41, 41, 41, 0.43)
	background: #fff
	position: relative
	z-index: 2
	.list-social
		margin: 0 30px 0 0
		a
			fill: rgba(#999, .4)
			&:hover
				fill: #999

.logo
	max-width: 201px
	width: 100%
	@include d-flex

.logo-description
	color: #999
	max-width: 240px
	width: 100%
	line-height: 1.13
	margin: 0 0 0 30px

.header-top
	padding: 11px 0 9px

.header-bottom
	padding: 19px 0
	border-top: 1px solid rgba(#c0c0c0, .48)
	.form-search
		max-width: 346px
		margin: 0
		input
			font-size: 14px
			padding: 0 36px 0 20px
			&::placeholder
				color: #000

.nav-menu
	margin: 0 auto

.menu
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: wrap
	font-size: 18px
	line-height: 1
	li
		margin: 0 40px 0 0
		&:last-child
			margin: 0
		a
			color: #000
			&:hover
				color: $accent
	.dropdown-toggle
		width: 20px
		height: 6px
		&::after
			display: none
	// .dropdown			

.location-wrapper
	margin: 0 50px 0 0
	position: relative
	.dropdown-menu
		box-shadow: 0px 11px 16px 0 rgba(41, 41, 41, 0.21)
		border: none
		border-radius: 0
		width: 100%
		min-width: 580px
		background-color: #fff
		padding: 30px 39px 39px
		left: -40px !important
		top: 35px !important
	.dropdown-toggle
		position: relative
		&::before
			content: ''
			position: absolute
			left: 50%
			top: calc(50% - 3px)
			transform: translate(-50%,-50%)
			height: calc(100% + 25px)
			width: calc(100% + 46px)
			z-index: -1
			opacity: 0
			transition: .3s ease
			background: #6989ad
		&.show
			color: #fff
			&::before
				opacity: 1
			&::after
				filter: invert(1) grayscale(0)
			.location-city__icon
				fill: #fff


.dropdown-menu-head
	width: 100%
	display: flex
	align-items: start
	justify-content: space-between
	flex-wrap: wrap
	margin: 0 0 27px
	.h3
		font-weight: bold
		font-size: 20px
		margin: 0
		line-height: 1

.value-cities
	color: #999
	font-size: 14px

.dropdown-menu__close
	width: 14px
	height: 14px
	fill: #000
	@include d-flex
	&:hover
		fill: $accent

.location-city
	display: flex
	align-items: center
	color: #000
	font-size: 16px
	position: relative
	&__icon
		@include d-flex
		margin: 0 10px 0 0
		width: 12px
		height: 14px
		min-width: 12px
		fill: $accent

.form-search
	width: 100%
	position: relative
	margin: 0 0 15px
	label
		margin: 0
	button
		padding: 0
		position: absolute
		top: 50%
		transform: translate(0,-50%)
		right: 10px
		width: 15px
		height: 15px
		@include d-flex
		background: transparent
	input
		background: #fff
		padding: 0 25px 0 12px
		&:focus
			box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
			border: solid 1px #6989ad

.link-autosearch
	margin: 0 0 40px
	font-weight: bold

.list-cities
	li
		margin: 0 0 7px
		width: 100%
		&:last-child
			margin: 0
		a
			display: flex
			align-items: center
			justify-content: space-between
			color: #000
			width: 100%
			&:hover
				color: #6989ad
			&.checked
				color: #6989ad

.btn-burger
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
	width: 20px
	height: 14px
	cursor: pointer
	margin: 0 30px 0 0
	span
		display: block
		width: 100%
		height: 2px
		border-radius: 2px
		background: #000

.phone
	display: flex
	align-items: center
	color: #000
	font-weight: bold
	&:hover
		color: $accent
	&-icon
		@include d-flex
		width: 20px
		min-width: 20px
		height: 20px
		margin: 0 9px 0 0
		fill: $accent

.mail
	display: flex
	align-items: center
	color: #000
	&:hover
		color: $accent
	&-icon
		@include d-flex
		width: 13px
		min-width: 13px
		height: 12px
		margin: 0 11px 0 0
		fill: $accent

.schedule-box
	display: flex
	align-items: center
	margin: 0 70px 0 0
	&__icon
		@include d-flex
		width: 14px
		height: 14px
		min-width: 14px
		margin: 0 7px 0 0
		fill: $accent

.header-box
	display: flex
	align-items: center
	flex-wrap: wrap
	margin: 0 88px 0 auto
	.link-callback
		border-bottom: 1px dashed #6989ad
		margin: 0 0 0 12px
		color: #000
		&:hover
			color: $accent

.mobile-menu
	display: none
	position: fixed
	left: 0
	top: 0
	height: 100%
	max-width: 280px
	width: 100%
	overflow-y: auto
	padding: 30px
	background: #fff
	z-index: 10
	box-shadow: 0px 11px 10px 0 rgba(41, 41, 41, 0.43)
	&__close
		cursor: pointer
		width: 20px
		height: 20px
		@include d-flex
		position: absolute
		right: 20px
		top: 20px
		&:before, &::after
			content: ''
			position: absolute
			top: 0
			left: 10px
			width: 2px
			height: 100%
			background: $accent
			border-radius: 2px
		&::before
			transform: rotate(45deg)
		&:after
			transform: rotate(135deg)
	.logo
		max-width: 160px
		margin: 0 auto
	&__body
		padding: 20px 0
		border-top: 1px solid #ededed
		border-bottom: 1px solid #ededed
		margin: 20px 0
	.location-city
		margin: 0 auto 20px
		justify-content: center
	.form-search
		margin: 10px 0 0
	.menu
		font-size: 16px
		li
			width: 100%
			margin: 0 0 10px
	.mail
		margin: 10px 0
	.header-box
		margin: 0
	.btn
		margin: 30px 0 0
		width: 100%

.btn-search
	width: 19px
	height: 20px
	min-width: 19px
	@include d-flex
	fill: #000

.search-header
	margin: 0 40px 0 43px
	.dropdown-menu
		min-width: 300px
		padding: 10px
		border: solid 1px #ededed
		box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
		top: 38px !important
	.form-search
		margin: 0

// @media
@media only screen and (max-width: 1300px)
	.logo
		max-width: 180px

	.header-box
		flex-direction: column
		align-items: flex-start
		.link-callback
			margin: 0 0 0 30px

	.location-wrapper .dropdown-menu
		top: 30px !important

@media only screen and (max-width: 1200px)
	.header-bottom
		display: none

	.btn-burger
		display: flex
		margin: 0 20px 0 0

	.logo
		max-width: 150px

	.location-wrapper
		margin: 0 0 0 20px

	.schedule-box
		margin: 0 20px 0 auto

	.header-v2
		.btn
			padding: 0 15px

	.header-box
		margin: 0 15px

	.location-wrapper .dropdown-menu
		top: 26px !important

@media only screen and (max-width: 1100px)
	.location-wrapper
		display: none

@media only screen and (max-width: 992px)
	.schedule-box
		display: none

	.logo
		margin: 0 auto 0 0

	.header-v2
		.mail-text
			display: none

	.mail-icon
		margin: 0
		width: 20px
		height: 20px
		min-width: 20px

	.header-box
		.link-callback
			display: none

@media only screen and (max-width: 576px)
	.header-v2
		.btn
			padding: 0 18px
			font-size: 14px
			height: 42px
		.phone-text
			display: none
		.phone-icon
			margin: 0

@media only screen and (max-width: 480px)
	.logo
		max-width: 100px

	.btn-burger
		order: 1
		margin: 0

	.header-v2
		.btn
			display: none
