@import "fonts"
@import "vars"

// home
.home
	position: relative

.fixed-social
	position: absolute
	z-index: 10
	right: 58px
	top: 50%
	transform: translate(0,-50%)
	display: flex
	flex-direction: column
	align-items: center
	li
		margin: 0 0 16px
		&:last-child
			margin: 0
		a
			box-shadow: 0 0 18px 0 rgba(41, 41, 41, 0.1)
			background-color: #fff
			width: 40px
			height: 40px
			border-radius: 50%
			fill: rgba(#999, .4)
			padding: 12px
			@include d-flex
			&:hover
				fill: #999

.fixed-social-scroll
	position: fixed

.home-wrapper
	position: relative
	width: 100%

.home-slider
	position: relative
	color: #fff
	&__nav
		width: 100%
		position: absolute
		padding: 0 70px
		bottom: 55px
		left: 0
	.box-text
		margin: 40px 0
		font-size: 24px
		font-weight: 300
		line-height: 1.25
		max-width: 835px
	.btn
		padding: 0 28px

.home-slider-item
	position: relative
	border-radius: 12px
	z-index: 1
	padding: 196px 70px
	&__bg
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		object-fit: cover
		border-radius: 12px
		z-index: -2
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: #030303
		opacity: 0.48
		border-radius: 12px
		z-index: -1

.home-v1
	margin: 40px 0

.home-v2
	.home-slider
		&__nav
			padding: 0 16.5px
			bottom: 58px
			left: 50%
			transform: translate(-50%,0)
			max-width: 1533px
			.slick-arrow
				fill: #fff
				&:hover
					fill: $accent
	.home-slider-item
		border-radius: 0
		padding: 337px 0 212px
		&__bg
			border-radius: 0
		&::before
			border-radius: 0

.home-v3
	.home-slider
		&__nav
			padding: 0 16.5px
			bottom: 58px
			left: 50%
			transform: translate(-50%,0)
			max-width: 1533px
			.slick-arrow
				fill: #fff
				&:hover
					fill: $accent
	.home-slider-item
		border-radius: 0
		padding: 204px 0
		&__bg
			border-radius: 0
		&::before
			border-radius: 0

.home-v4
	text-align: center
	.home-slider
		.box-text
			margin: 40px auto
		.btn
			margin: 0 auto
		&__nav
			justify-content: center

.home-v5
	.home-slider
		color: #000
		background: #f5f5f5
		&__nav
			padding: 0 16.5px
			bottom: 58px
			left: 50%
			transform: translate(-50%,0)
			max-width: 1533px
			.slick-arrow
				fill: rgba(#000, .5)
				&:hover
					fill: $accent
	.home-slider-item
		border-radius: 0
		padding: 0
		&__bg
			border-radius: 0
			position: relative
			min-width: 959px
			height: 100%
			img
				width: 100%
				height: 100%
				object-fit: cover
		&::before
			display: none
		&__content
			padding: 132px 0 177px

// home

// section-catalog
.section-catalog
	margin: 80px 0 100px

.link-catalog
	display: flex
	align-items: center
	margin: 0 0 0 auto
	font-size: 18px
	&__icon
		margin: 0 0 0 21px
		width: 30px
		height: 30px
		fill: $accent
		border: 1px solid $accent
		border-radius: 50%
		@include d-flex
		.svg-icon
			width: 25px
			height: 13px
			margin: 0 0 0 -20px
	&:hover
		.link-catalog__icon
			border-color: $green
			fill: $green

.section-description
	margin: 18px 0 49px
	font-size: 18px
	font-weight: 300

.catalog-card
	width: 100%
	height: 100%
	z-index: 1
	border-radius: 12px
	background-color: #eee
	position: relative
	color: #fff
	transition: .3s ease
	line-height: 1.1
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%)
		opacity: 0.36
		border-radius: 12px
		transition: .3s ease
	&__bg
		width: 100%
		height: 100%
		object-fit: cover
		border-radius: 12px
	&__body
		width: 100%
		height: 100%
		position: absolute
		z-index: 1
		left: 0
		top: 0
		display: flex
		flex-direction: column
		justify-content: flex-end
		padding: 29px
	&__title
		font-size: 22px
		font-weight: bold
	&__text
		margin: 12px 0 0
		font-weight: 300
		font-size: 18px
		display: none
		line-height: 1.22
	&:hover
		color: #fff
		box-shadow: 0 13px 27px rgba(#292929, .5)
		&::before
			opacity: 0.7
		.catalog-card__text
			display: block

.catalog-card-v2
	display: flex
	align-items: center
	padding: 22px
	background: #f5f5f5
	border-radius: 12px
	color: #000
	font-size: 18px
	border: solid 2px #f5f5f5
	&::before
		display: none
	.catalog-card__bg
		position: relative
		left: 0
		top: 0
		width: 80px
		min-width: 80px
		height: 80px
		margin: 0 32px 0 0
		border-radius: 12px
		@include d-flex
		img
			width: 100%
			height: 100%
			object-fit: cover
			border-radius: 12px
	.catalog-card__title
		font-size: 18px
		font-weight: normal
	&:hover
		color: $accent
		box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
		border: solid 2px #6989ad

.catalog-card-v3
	text-align: center
	padding: 30px 13px 20px
	border-radius: 12px
	background-color: #f5f5f5
	border: 2px solid transparent
	color: #000
	.catalog-card__title
		font-size: 16px
		font-weight: normal
	&::before
		display: none
	.catalog-card__bg
		position: relative
		border-radius: 0
		width: 100%
		max-width: 100px
		height: 78px
		margin: 0 auto 18px
		object-fit: none
		@include d-flex
		img
			max-height: 100%
	&:hover
		color: $accent
		box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
		border: solid 2px #6989ad

// section-catalog end			

// best-offers
.best-offers
	h2, .list-sorting
		margin: 0 0 40px
	.list-sorting
		justify-content: flex-end

.list-sorting
	display: flex
	align-items: start
	flex-wrap: wrap
	li
		margin: 0 10px 0 0
		&:last-child
			margin: 0
		a
			padding: 7px 15px
			color: #010101
			border-radius: 6px
			border: none
			@include d-flex
			line-height: 1
			&:hover
				background: $accent
				color: #fff
			&.active
				background: #f5f5f5
				color: $accent

.list-sorting-v2
	li
		margin: 0 48px 0 0
		&:last-child
			margin: 0
		a
			color: #000
			padding: 0 0 5px
			border-radius: 0
			border-bottom: 1px solid transparent
			&:hover, &.active
				background: transparent
				border-color: $accent
				color: #000

.product-card
	width: 100%
	height: 100%
	border-radius: 12px
	border: solid 1px #d8d8d8
	background-color: #fff
	display: flex
	flex-direction: column
	transition: .3s ease
	padding: 32px 30px 30px
	&__title
		text-align: center
		width: 100%
		margin: 0 auto 50px
		font-weight: bold
		font-size: 18px
		color: #000
		&:hover
			color: $accent
	.slick-arrow
		opacity: 0
	.slick-prev
		left: -14px
	.slick-next
		right: -14px
	&__img
		@include d-flex
		max-width: 232px
		height: 185px
		width: 100%
		margin: 0 auto
		img
			max-height: 100%
	&__body
		margin: 30px 0
	&__footer
		width: 100%
		margin: auto 0 0
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
	&__price
		font-size: 18px
		font-weight: bold
	.btn
		padding: 0 19px
	&:hover
		box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
		border-color: transparent
		.product-card__title
			color: $accent
		.slick-arrow
			opacity: 1
		.btn
			background: $green
			color: #fff

.product-card-v2
	border: none
	padding: 30px 24px
	.product-card__title
		margin: 10px 0 0
		font-weight: normal
		text-align-last: left
		font-size: 16px
	.product-card__body
		margin: 44px 0 15px
	.product-card__footer
		opacity: 0
	&:hover
		.product-card__footer
			opacity: 1
		.product-card__title
			color: #000
		.btn
			background: $accent

.best-offers
	.list-sorting
		margin: 0 auto 40px

.link-all-catalog
	justify-content: flex-end
	margin: 0 0 40px auto
	text-transform: uppercase
	display: flex
	align-items: center
	line-height: 1
	font-size: 13px
	.link-catalog__icon
		border: none
		border-radius: 0
		margin: -3px 0 0 11px
		width: 5px
		height: 9px
		.svg-icon
			margin: 0
			width: 100%
			height: 100%

.products-wrapper
	display: flex
	align-items: start
	flex-wrap: wrap

.product-card-v3
	border: solid 1px #ededed
	border-radius: 0
	width: 20%
	height: 380px
	position: relative
	padding: 0
	overflow: hidden
	.product-card__footer
		display: none
	.product-card__title
		margin: 0 0 20px
	&:hover
		opacity: 1
		position: relative
		box-shadow: none
		overflow: visible
		.product-card-wrapper
			box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
			border: solid 1px #ededed
			z-index: 2
		.product-card__footer
			display: flex
		.btn
			background: $accent

.product-card-wrapper
	border: solid 1px transparent
	background: #fff
	width: 100%
	position: absolute
	padding: 34px 30px 30px
	transition: .3s ease

.btn-load-products
	margin: 30px auto 0
	font-size: 13px
	font-weight: normal
	padding: 0 35px
	text-transform: uppercase
// best-offers end

// types-cabins
.types-cabins
	margin: 100px 0

.types-cabins-card
	.product-card__title
		margin: 0 0 20px
	.product-card__img
		height: 159px
	.product-card__body
		margin: 20px 0 30px
	.product-card__price
		width: 100%
		margin: 0 0 16px
	.btn
		padding: 0 26px

.types-cabins-card-v2
	border: none
	.product-card__body, .product-card__footer
		opacity: 0
	.btn
		margin: 0 auto
	.product-card__footer
		text-align: center
	.product-card__price
		margin: 0 0 18px
	&:hover
		.product-card__body, .product-card__footer
			opacity: 1

.types-cabins-card-v3
	padding: 30px 30px 35px
	border: solid 2px transparent
	.slide
		position: relative
		.btn
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			padding: 0 27px
			font-size: 18px
			width: fit-content
			max-width: none
			white-space: nowrap
			opacity: 0
			z-index: 2
	.product-card__price
		text-align: center
	.product-card__body
		margin: 19px auto
	.product-card__footer
		opacity: 0
	.product-card__title
		margin: 0 auto
	&:hover
		box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
		border: solid 2px #6989ad
		.product-card__img
			opacity: 0.6
		.btn
			background: rgba(#282828, .6)
		.slide
			.btn
				opacity: 1
		.product-card__footer
			opacity: 1

.link-details
	border-bottom: 1px dashed $accent
	margin: 0 auto

// types-cabins end

// additional-equipment	
.additional-equipment
	margin: 0 0 100px

.additional-equipment-list
	font-size: 18px
	&-item
		display: flex
		align-items: center
		border: solid 1px #6989ad
		padding: 9px 14px 9px 26px
		margin: 0 0 -1px
		line-height: 1.2
		&:first-child
			border-radius: 12px 12px 0 0
			background: #fff
		&:last-child
			border-radius: 0 0 12px 12px
			margin: 0
		&:nth-child(even)
			background: #f5f5f5
		&__icon
			width: 22px
			height: 27px
			min-width: 22px
			margin: 0 16px 0 0
			@include d-flex
			img
				max-height: 100%
		&__price
			margin: 0 0 0 auto

// .additional-equipment-v2
.additional-equipment-v2
	.additional-equipment-list
		width: 100%
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		font-size: 18px
		line-height: 1
	.additional-equipment-list-item
		margin: 0 0 40px
		border: none
		background: transparent
		padding: 0 20px 0 66px
		width: 25%
		min-height: 48px
		position: relative
		flex-direction: column
		align-items: flex-start
		&__icon
			border-radius: 6px
			background-color: #6989ad
			width: 48px
			height: 48px
			min-width: 48px
			padding: 10px
			margin: 0
			position: absolute
			left: 0
			top: 0
			img
				filter: invert(1) grayscale(0)
		&__price
			width: 100%
			font-size: 14px
			margin: 5px 0 0
		&:last-child
			border-radius: 0
			margin: 0 0 56px
		&:first-child
			border-radius: 0

.additional-equipment-wrapper
	width: 100%
	border-radius: 20px
	background-color: #f5f5f5
	padding: 40px 40px 10px

.additional-equipment-list-item-v2
	padding: 15px 10px 25px 25px
	border-radius: 20px
	height: 100%
	border: none
	background: #e7ecf2
	margin: 0
	font-size: 14px
	&:last-child, &:first-child
		border-radius: 20px
		background: #e7ecf2
	&:nth-child(even)
		background: #e7ecf2
	.additional-equipment-list-item__icon
		margin: 0 15px 0 0
		border-radius: 6px
		width: 48px
		height: 48px
		min-width: 48px
		padding: 10px
		background: #282828
		img
			filter: invert(1) grayscale(0)
	.additional-equipment-list-item__name
		font-size: 18px
		margin: 0 0 2px

// additional-equipment	end

// advantages
.advantages
	background: #3d3d3d
	color: #fff
	padding: 53px 0 30px

.advantages-box
	display: flex
	align-items: flex-start
	&__icon
		width: 34px
		min-width: 34px
		margin: 0 19px 0 0
		filter: invert(1) grayscale(0)
	.box-text
		max-width: 230px

.advantages-v2
	margin: 100px 0 130px
	.advantages-box
		.h3
			white-space: nowrap

.advantages-wrapper
	background: #3d3d3d
	border-radius: 30px
	width: 100%
	color: #fff
	padding: 55px 40px 31px

.advantages-v3
	margin: 100px 0

.advantages-box-v3
	padding: 52px 28px 54px
	border-radius: 30px
	border: solid 2px #6989ad
	background-color: #fff
	width: 100%
	height: 100%
	transition: .3s ease
	flex-direction: column
	align-items: center
	text-align: center
	&:hover
		box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
	.advantages-box__icon
		filter: none
		position: relative
		margin: 0 auto 30px
		z-index: 1
		&::before
			content: ''
			position: absolute
			z-index: -1
			border-radius: 50%
			width: 50px
			height: 50px
			background: rgba(#ccd3db, .7)
			left: 10px
			top: 50%
			transform: translate(0,-50%)
	.box-text
		max-width: 230px
		margin: 0 auto
// advantages end

// page politics	
.page-title-wrapper
	padding: 40px 0

.page-title-wrapper-v2
	margin: 38px 0 42px
	padding: 15px 20px 20px
	border-radius: 12px
	background: #f5f5f5

.page-title-wrapper-v3
	background: #e7ecf2
	margin: 0 0 30px
	padding: 30px 0

.page-politics
	padding: 0 0 120px
	h2
		font-size: 30px
		margin: 0 0 30px
	.box-text
		margin: 0 0 50px
		line-height: 1.56
		font-size: 18px
		&:last-child
			margin: 0
		p
			margin: 0 0 30px
			&:last-child
				margin: 0
	h3
		margin: 0 0 24px
		font-size: 24px
		font-weight: bold

.box-text__title
	font-size: 18px
	line-height: 1.3
	font-weight: bold
	width: 100%
	margin: 0 0 20px

.info-box
	width: 100%
	display: flex
	align-items: center
	margin: 0 0 30px
	background: #e7ecf2
	border-radius: 12px
	line-height: 1.3
	font-size: 18px
	padding: 12px 30px 12px 26px
	&__icon
		width: 30px
		height: 30px
		min-width: 30px
		fill: $accent
		@include d-flex
		margin: 0 18px 0 0

.meta-box
	width: 100%
	padding: 12px 80px 12px 25px
	border-radius: 12px
	border: solid 2px #29bd35
	background-color: #fff
	font-size: 18px
	line-height: 1.3
	margin: 30px 0

.description-box
	margin: 0 0 30px
	width: 100%
	padding: 12px 45px 12px 27px
	font-size: 18px
	line-height: 1.3
	background: #f5f5f5
	border-left: 2px solid #6989ad

// page politics end

// page contacts
.page-contacts-v1
	margin: 0 0 113px

.contacts-advantage-card
	width: 100%
	height: 100%
	position: relative
	z-index: 1
	overflow: hidden
	padding: 40px 40px 80px
	color: #fff
	border-radius: 30px
	&__title
		color: #fff
		max-width: 245px
		font-size: 22px
		line-height: 1.2
		font-weight: bold
		margin: 0 0 19px
		&:hover
			color: $accent
	&__bg
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		z-index: -1
		width: 100%
		height: 100%
		@include d-flex
		img
			width: 100%
			height: 100%
			object-fit: cover
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background: linear-gradient(to right, rgba(0,0,0,.7) 0%,rgba(255,255,255,0) 100%)
	.link
		text-transform: uppercase
		font-size: 13px
	.link-icon
		fill: #fff
		width: 5px
		height: 9px

.contacts-map
	width: 100%
	border-radius: 6px
	iframe
		width: 100%
		height: 100%
		border-radius: 6px

.contacts-map-v1
	height: 100%

.contacts-box
	width: 100%
	height: 100%
	text-align: center
	padding: 29px 30px 40px
	border-radius: 6px
	background-color: #f5f5f5
	line-height: 1.1
	&__icon
		@include d-flex
		width: 30px
		min-width: 30px
		height: 30px
		margin: 0 auto 34px
	&__title
		font-weight: bold
		font-size: 22px
		line-height: 1.1
		width: 100%
		margin: 0 auto 20px
	.address
		font-size: 20px
		line-height: 1.1
	.schedule
		font-size: 16px
		margin: 24px 0 0
	&__list-social
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		margin: 30px 0 0
		li
			margin: 0 20px 0 0
			&:last-child
				margin: 0
			a
				width: 30px
				height: 30px
				min-width: 30px
				@include d-flex

.phone-box
	margin: 0 auto 24px
	&:last-child
		margin: 0
	a
		margin: 0 auto
		font-size: 20px
		color: #000
		&:hover
			color: $accent

.callback-contacts
	width: 100%
	line-height: 1
	&__title
		margin: 0 0 15px
		font-size: 22px
		font-weight: bold
	&__subtitle
		font-size: 18px
		margin: 0 0 24px
	textarea
		height: 120px
	[type='submit']
		padding: 0 42px
	.consent
		margin: 0 0 0 20px
		color: #999
		font-size: 13px

.page-contacts-v2
	margin: 0 0 120px

.contacts-map-v2
	height: 400px

.contacts-box-v2
	box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
	background-color: #e7ecf2
	padding: 36px 20px 34px
	font-size: 20px
	.contacts-box__icon
		margin: 0 auto 24px
		fill: $accent
	a
		color: #000
		margin: 0 auto

.callback-contacts-v2
	margin: 42px 0 0
	[type="submit"]
		margin: 0 auto
	.consent
		text-align: center
		margin: 10px auto	25px
	.callback-contacts
		&__title, &__subtitle
			text-align: center

.contacts-box-v3
	box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
	background-color: #fff
	position: relative
	text-align: left
	padding: 19px 40px 19px 30px
	font-size: 20px
	display: flex
	align-items: center
	.contacts-box__icon
		margin: 0 20px 0 0
		fill: $accent
	a
		color: #000
		&:hover
			color: $accent
	.contacts-box__list-social
		margin: 0
		justify-content: flex-start
		margin: 0 0 0 18px
	.contacts-box__text
		min-width: 140px

.callback-contacts-wrapper
	width: 100%
	border-radius: 6px
	background-color: #f5f5f5
	padding: 50px

.callback-contacts-v3
	.consent
		max-width: 363px

.callback-contacts__form-v2
	input, textarea
		background: #fff

.callback-contacts-manager
	width: 100%
	text-align: center
	line-height: 1.1
	&__photo
		@include d-flex
		width: 100%
		max-width: 340px
		height: 258px
		@include d-flex
		margin: 0 auto 17px
		img
			width: 100%
			height: 100%
			object-fit: cover
	.name
		font-size: 18px
		margin: 0 auto 5px
	.position
		font-weight: 300

// page contacts end

// page-category	
.page-category
	margin: 0 0 146px

.sidebar
	width: 100%

.sidebar-menu
	width: 100%
	border-radius: 6px
	background: rgba($accent, .16)
	padding: 16px 0

.sidebar-menu-list
	width: 100%
	font-size: 20px
	line-height: 1
	li
		margin: 0 0 13px
		&:last-child
			margin: 0
		a
			width: 100%
			display: flex
			align-items: center
			color: #000
			border-left: 1px solid transparent
			padding: 0 0 0 24px
			&:hover
				border-color: $accent
			&.active
				border-color: $accent
				.sidebar-menu-list__icon
					display: none
	&__icon
		@include d-flex
		width: 7px
		min-width: 7px
		height: 13px
		margin: 0 10px 0 0

.sidebar-callback
	margin: 30px 0 0
	width: 100%
	border-radius: 6px
	box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
	background-color: #fff
	padding: 30px 25px
	&__title
		margin: 0 0 20px
		font-size: 20px
		line-height: 1.3
	.form-callback
		[type="submit"]
			width: 100%
		.label-checkbox
			margin: 19px 0 0

.btn-load-category
	margin: 40px auto 0
	text-transform: uppercase
	font-size: 13px
	font-weight: normal
	padding: 0 35px

.category-list-col-btn
	width: 20%
	padding: 0 7.5px
	margin: 0 0 10px

.category-list
	width: 100%
	display: flex
	align-items: stretch
	flex-wrap: wrap
	margin: 0 -7.5px 30px
	&-col
		padding: 0 7.5px
		width: 20%
		display: none
		margin: 0 0 10px
		&:nth-child(-n+4)
			display: block
	&__item
		position: relative
		padding: 10px
		width: 100%
		height: 100%
		text-align: center
		border: 1px solid transparent
		border-radius: 12px
		background-color: #f5f5f5
		font-size: 18px
		font-weight: 300
		line-height: 1.1
		color: #000
		display: flex
		align-items: center
		justify-content: center
		transition: .3s ease
		cursor: pointer

		&:hover
			box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
			background: #fff

		&.active
			background: #e7ecf2
			border-color: $accent
			.category-list__clear
				display: flex
	&__clear
		position: absolute
		width: 18px
		height: 18px
		background: $accent
		fill: #fff
		border-radius: 50%
		z-index: 1
		top: -8px
		right: -8px
		padding: 6px
		align-items: center
		justify-content: center
		display: none

.category-list-all
	padding: 10px
	height: auto
	border-radius: 12px
	font-size: 18px
	font-weight: 300
	width: 100%
	height: 100%
	min-height: 46px

.tab-content-category
	width: 100%
	margin: 35px 0 10px

.nav-tabs-category
	display: flex
	align-items: center
	justify-content: flex-end
	margin: 0 0 0 auto
	border: none
	border-radius: 0
	.nav-item
		margin: 0 14px 0 0
	.nav-link
		padding: 0
		border: none
		border-radius: 0
		width: 13px
		height: 13px
		fill: #bbb
		@include d-flex
		&.active
			fill: #000

.sorting-box
	display: flex
	align-items: center
	flex-wrap: wrap
	line-height: 1.1
	p
		color: #999999
		margin: 0 10px 0 0

.filter-category
	width: 100%
	display: flex
	align-items: start
	flex-wrap: wrap
	margin: 0 0 40px

.filter-category-item
	margin: 0 14px 10px 0
	&:last-child
		margin: 0 0 10px
	.dropdown-toggle
		color: #010101
		padding: 13.5px 14px
		border: solid 1px #d8d8d8
		border-radius: 6px
		background: #fff
		line-height: 1
		position: relative

		&:hover
			color: #010101
		&::after
			border: none
			margin: 0 0 0 20px
			width: 7px
			height: 7px
			@include d-flex
			background: url('../img/dropdown-icon.svg') no-repeat center
			background-size: 100%
		&.show
			border-color: transparent
			z-index: 1001
	&__clear
		position: absolute
		right: 10px
		top: 19px
		width: 7px
		height: 7px
		display: none
		align-items: center
		justify-content: center
		fill: #000
		cursor: pointer
	&.active
		.filter-category-item__clear
			display: flex
		.dropdown-toggle
			pointer-events: none
			span
				text-overflow: ellipsis
				white-space: nowrap
				overflow: hidden
				width: 95px
				margin: 0 10px 0 0
			&::after
				display: none
	.dropdown-menu
		width: 100%
		min-width: 188px
		padding: 60px 15px 19px
		margin: 0
		top: 0 !important
		left: 50% !important
		transform: translate(-50%,0) !important
		border: none
		box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
		&::before
			content: ''
			position: absolute
			left: 50%
			transform: translate(-50%,0)
			top: 45px
			width: calc(100% - 30px)
			height: 1px
			background: #d8d8d8
		.label-checkbox
			color: #010101
			font-size: 16px
			line-height: 1
		.checkbox-custom
			width: 12px
			height: 12px
			min-width: 12px
			margin: 0 7px 0 0
		.inp-check:checked ~ .checkbox-custom
			background-size: 8px
		.inp-check:checked ~ .checkbox-text
			color: $accent
	.scroll-vertical
		max-height: 153px

.list-checkbox
	li
		margin: 0 0 11px
		&:last-child
			margin: 0

.product-card-line
	width: 100%
	display: flex
	align-items: start
	flex-wrap: wrap
	border: solid 1px #d8d8d8
	background: #fff
	margin: 0 0 -1px
	padding: 15px 30px
	transition: .3s ease
	position: relative
	&:hover
		box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
		z-index: 1
		.btn
			background: $green
	&:first-child
		border-radius: 6px 6px 0 0
	&:last-child
		margin: 0 0 40px
		border-radius: 0 0 6px 6px
	&__image
		@include d-flex
		width: 61px
		min-width: 61px
		margin: 0 30px 0 0
	&__body
		display: flex
		flex-direction: column
		align-items: flex-start
	&__title
		margin: 0 0 4px
		color: #000
		font-size: 18px
		font-weight: bold
		line-height: 1
		&:hover
			color: $accent
	&__footer
		margin: 0 0 0 auto
		display: flex
		align-items: center
	&__price
		margin: 0 24px 0 0
		font-size: 18px
		font-weight: bold

.availability-item
	color: #010101
	display: flex
	align-items: center
	&::before
		content: ''
		@include d-flex
		width: 6px
		height: 6px
		margin: 0 9px 0 0
		border-radius: 50%

.are-available
	&::before
		background: $green

.order-available
	color: #999
	&::before
		background: #999

.table-category
	margin: 0 0 40px
	width: 100%
	text-align: center
	font-size: 16px
	line-height: 1.1
	td, th
		vertical-align: middle
		&:first-child
			text-align: left
			max-width: 305px
			padding: 20px
		&:last-child
			min-width: 130px
	thead
		color: #fff
		border: solid 1px #d8d8d8
		background-color: #3d3d3d
		font-size: 18px
		font-weight: bold
		border-radius: 6px 6px 0 0
		th
			padding: 20px 10px
			&:first-child
				padding: 20px
	.btn-order
		display: none
		padding: 0 15px
		font-size: 18px
		margin: 0 auto
	tbody
		tr
			margin: 0 0 -1px
			border: solid 1px #d8d8d8
			background: #fff
			transition: .3s ease
			&:last-child
				margin: 0
			&:hover
				box-shadow: 0px 2px 16px 0 rgba(41, 41, 41, 0.21)
				z-index: 1
				position: relative
				.btn-order
					display: flex
					background: $green
				.table-category__price
					display: none
		td
			padding: 6px 10px
			height: 60px
	.availability-item
		margin: 0 auto
		justify-content: center
	&__title
		color: #000
		&:hover
			color: $accent

// page-category	end
