/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1460px)
	.product-card
		padding: 30px 20px

	.product-card-wrapper
		padding: 30px 25px

	.product-card-v3
		.product-card__img
			height: 140px

	.home-v5
		.home-slider-item__bg
			min-width: auto
			width: calc(100% + 16.5px)

	.advantages-v2
		.advantages-box
			.h3
				white-space: normal

	.table-category
		font-size: 14px
		margin: 0 0 30px
		thead
			font-size: 16px
		td, th
			&:first-child
				max-width: 220px

	.calculate-box
		.btn
			width: 100%
			margin: 10px 0 0
		.dropdown
			margin: 0 0 30px

	.information-box
		margin: 20px 0 0

	.calculate-box-range
		margin: 0 0 30px

	.accordion-item-v2 .accordion-collapse
		max-width: 800px

@media only screen and (max-width: 1400px)
	.catalog-card-v2
		padding: 18px
		.catalog-card__bg
			margin: 0 20px 0 0

	.contacts-box-v3
		font-size: 16px
		.contacts-box__text
			min-width: auto

	.landing-home
		h1
			font-size: 50px

	.landing-home-advantages-item
		font-size: 24px

@media only screen and (max-width: 1330px)
	.product-card-v3
		width: 25%

	.list-sorting-v2 li
		margin: 0 20px 0 0

	.contacts-box
		padding: 20px
		&__title
			font-size: 16px
		.address
			font-size: 16px

	.phone-box
		a
			font-size: 18px

	.callback-contacts-v3 .consent
		max-width: 300px

	.accordion-item-v2 .accordion-collapse
		max-width: 650px

	.clients-slider-item
		padding: 0 10px

	.clients h2
		margin: 0 auto 30px		

	.landing-home__image
		min-width: 1100px	

@media only screen and (max-width: 1200px)
	.advantages-v2
		margin: 70px 0

	.advantages-wrapper
		padding: 30px 20px

	.additional-equipment-list-item-v3
		padding: 0 0 0 65px

	.types-cabins
		margin: 70px 0

	.best-offers-v3 .list-sorting
		justify-content: flex-start

	.h1
		font-size: 58px

	.page-contacts-v1
		margin: 0 0 70px

	.contacts-map-v1
		height: 300px
		margin: 30px 0 0

	.contacts-box-v2
		font-size: 16px

	.contacts-box__list-social
		margin: 24px auto 0

	.callback-contacts-v3
		.consent
			width: 100%
			max-width: none
			margin: 10px auto 0
			text-align: center
		[type="submit"]
			margin: 0 auto

	.callback-contacts-wrapper
		padding: 30px

	.callback-contacts-manager__photo
		height: auto

	.category-list__item
		font-size: 16px

	.category-list
		margin: 0 -7.5px 20px

	.filter-category
		margin: 0 0 20px

	.time-rent
		margin: 10px 0 0

	.product-gallery-item
		padding: 30px

	.landing-home-callback
		padding: 30px 40px

	.callback-offer
		margin: 70px 0

	.callback-offer-wrapper
		padding: 0 30px

	.callback-offer-content
		margin: 50px 0

	.works-slider-gallery-item
		height: 600px

	.accordion-item-v2
		.accordion-collapse
			max-width: none
			width: 100%
		.accordion-item__arrow
			position: relative
			margin: 0 0 0 auto 
			top: 0
			transform: none
			right: 0
		.accordion-header
			width: 100%
		.accordion-body
			padding: 0 0 20px
		.accordion-button:not(.collapsed) 
			.accordion-item__title		
				padding: 0
				max-width: none		

	.contacts-section-wrapper
		padding: 30px	

	.landing-home__image
		min-width: 1000px			

@media only screen and (max-width: 1100px)
	.product-card
		padding: 20px
		&__title
			margin: 0 auto 20px
			line-height: 1
		&__price
			width: 100%
			margin: 0 0 10px

	.product-card-v2
		padding: 0
		.product-card-wrapper
			padding: 20px

	.catalog-card
		&__body
			padding: 20px
		&__text
			font-size: 14px

	.additional-equipment-list-item-v3
		width: 33.33%
		margin: 0 0 30px
		&:last-child
			margin: 0 0 30px

	.product-card-v3
		padding: 0

	.callback-contacts
		.consent
			max-width: 300px

	.callback-contacts-v2 .consent
		max-width: none

	.callback-contacts-v3 .consent
		width: 100%
		max-width: none

	

@media only screen and (max-width: 992px)
	.h1
		font-size: 50px

	.home-slider
		.box-text
			font-size: 20px
			margin: 20px 0
		&__nav
			padding: 0 40px
			bottom: 40px

	.home-slider-item
		padding: 100px 40px

	.fixed-social
		right: 15px

	.types-cabins
		margin: 60px 0

	.mb-40
		margin-bottom: 30px

	.section-catalog
		margin: 40px 0 60px

	.link-catalog
		margin: 10px 0 0

	.section-description
		margin: 18px 0 30px
		font-size: 16px
		line-height: 1.2

	.catalog-card
		&__title
			font-size: 18px

	.best-offers
		h2
			margin: 0
		.list-sorting
			margin: 15px 0 30px
			justify-content: flex-start

	.list-sorting
		li
			margin: 0

	.list-sorting-v3
		li
			margin: 0 10px 0 0

	.types-cabins-card-v2 .product-card__body, .types-cabins-card-v2 .product-card__footer, .product-card-v2 .product-card__footer
		opacity: 1

	.home-v2
		.home-slider-item
			padding: 250px 0 70px
		.home-slider__nav
			bottom: 30px

	.product-card-v2
		min-height: 315px

	.product-card-v3
		width: 33.33%
		.product-card__price
			width: fit-content

	.list-sorting-v2 li
		margin: 0 20px 0 0

	.advantages-v3
		margin: 60px 0

	.additional-equipment
		margin: 0 0 60px

	.home-v3
		.home-slider-item
			padding: 150px 40px 150px 0

	.home-v5
		.home-slider-item__bg
			width: 100%
		.home-slider-item__content
			padding: 70px 0
		.home-slider__nav
			justify-content: center
			bottom: 40px
			.slick-arrow
				fill: #fff

	.contacts-advantage-card
		padding: 30px 40px
		border-radius: 20px

	.page-contacts-v2
		margin: 0 0 60px

	.contacts-box-v3 .contacts-box__text
		min-width: 110px

	.btn-sidebar
		display: flex

	.sidebar
		display: none
		position: fixed
		left: 0
		top: 0
		width: 100%
		max-width: 280px
		height: 100%
		overflow-y: auto
		z-index: 5
		background: #fff
		box-shadow: 0 0 10px rgba(#000, .4)
		padding: 20px 20px
		&-close
			display: flex

		.sidebar-callback
			display: none

	.sidebar-title-mobile
		display: block

	.product-order-info
		margin: 30px 0

	.product-order-info-v2
		margin: 0

	.slider-nav-v2
		justify-content: center
		margin: 10px 0 0

	.recommended-products
		margin: 60px 0 0

	.landing-home-callback
		margin: 30px auto 0

	.landing-home-advantages-item
		max-width: 540px
		margin: 0 auto 20px
		font-size: 22px
		&:last-child
			margin: 0 auto

	.callback-offer-image
		margin: 0 auto

	.works-slider-gallery
		width: 100%
		order: 1

	.works-slider-content
		max-width: none
		padding: 0
		margin: 0 0 20px
		width: 100%

	.works-slider-content__info
		justify-content: flex-start
		&-item
			margin-right: 20px

	.advantages-company, .video-reviews, .employee, .clients, .quick-calculation, .reviews
		margin: 70px 0

	.advantages-company-box
		padding: 30px 20px

	.clients-slider__nav
		margin: 30px auto 0	

	.contacts-section
		padding: 0
		&__map	
			position: relative
			height: 400px
			margin: 20px auto 0

	.landing-home__image
		min-width: auto
		margin: 30px auto 0

	.landing-home-v2 .landing-home-advantages-item
		margin: 0 0 25px
		&__body
			max-width: none		

	.quick-calculation-wrapper
		padding: 30px

	.special-offer-form
		margin: 30px 0 0		

	.works-slider2 
		.works-slider-gallery-item		
			height: 300px	

	.advantages-company-box-v2
		padding: 0
		.advantages-company-box__icon
			margin: 0 0 20px	

	.certificates-v2
		padding: 60px 0			
		.section-description
			margin: 10px 0 30px
			max-width: none

	.certificates-slider-item-v2
		width: 200px

	.certificates-slider2
		min-width: auto
		width: calc(100% + 20px)
		margin: 30px 0 0	

	.question-icon
		width: 120px
		height: 120px
		font-size: 80px
		margin: 20px 0 40px

	.question 
		h2
			margin: 0 0 30px	

	.clients-v2
		padding: 70px 0
		margin: 50px 0 0
		.section-text
			max-width: none

	.clients-slider2
		margin: 30px 0 0	

	.contacts-section-wrapper-v2
		border-radius: 0
		max-width: none
		&::before
			display: none							

@media only screen and (max-width: 768px)
	h2
		font-size: 30px

	.additional-equipment-list-item-v3
		width: 50%

	.additional-equipment-wrapper
		padding: 30px 20px 10px

	.product-card-v2
		min-height: 290px
		.product-card__body
			margin: 25px 0 15px

	.product-card-v3
		width: 50%

	.link-all-catalog
		margin: 0 0 20px

	.best-offers-v3 .list-sorting
		margin: 10px 0 20px

	.callback-contacts-manager
		margin: 0 auto 30px

	.category-list-col, .category-list-col-btn
		width: 25%

	.category-list__item
		font-size: 14px

	.product-card-line
		padding: 10px 20px
		&__image
			width: 150px
			margin: 0 auto 20px
		&__body
			width: 100%
			text-align: center
		&__title
			margin: 0 auto 5px
		.availability-item
			margin: 0 auto
			justify-content: center
		&__footer
			width: 100%
			margin: 10px 0 0
			justify-content: center

	.table-category
		text-align: left
		thead
			display: none
		tr
			display: flex
			align-items: flex-start
			flex-wrap: wrap
		tbody
			td
				height: auto
		td
			height: auto
			padding: 10px
			width: 25%
			&::before
				content: attr(data-table)
				display: block
				font-weight: 700
				text-decoration: underline
				color: #999
				margin: 0 0 3px
			&:first-child
				max-width: none
				width: 50%
				padding: 10px
			&:last-child
				width: 25%
				max-width: none
				min-width: auto
		.btn-order
			height: 36px
			font-size: 14px
			width: 100%
		.availability-item
			justify-content: flex-start
			margin: 0

	.mt-90
		margin-top: 70px

	.list-sorting-v3
		li
			margin: 0 10px 5px 0
			&:last-child
				margin: 0 0 5px

	.selected-filters
		margin: 0 0 10px

	.nav-tabs-product-v3
		font-size: 16px
		margin: 40px 0 0
		.nav-item
			margin: 0
		.nav-link
			border-radius: 6px
			&.active
				border-bottom-color: #6989ad

	.tab-content-product-v2
		padding: 15px
		border-radius: 6px

	.landing-home
		padding: 80px 0
		h1
			font-size: 40px
			margin: 0 auto 30px

	.landing-home-advantages-item
		font-size: 18px
		&__icon
			width: 50px
			height: 50px
			min-width: 50px
			padding: 12px
			margin: 0 10px 0 0

	.video-reviews-slider__nav, .certificates-slider__nav
		margin: 20px auto 0

	.accordion-item-v2 
		.accordion-item__arrow	
			max-width: 50px
			min-width: 50px
			height: 50px
			padding: 15px
	
		.accordion-item__number
			margin: 0 20px 0 0
			min-width: 67px
			span
				font-size: 60px
			svg
				width: 60px
				min-width: 60px
				height: 50px
		.accordion-item__title
			font-size: 18px		

	.landing-home-v2
		padding: 150px 0 70px
		.landing-home-advantages-item:last-child
			margin: 0 0 20px

	.special-offer__title
		font-size: 20px
		line-height: 1.1		

	.reviews-slider 
		margin: 34px 0 0
		.slick-list
			margin: 0 -15px
		.slick-slide	
			padding: 0 15px

	.video-reviews-slider
		margin: 30px 0 0

	.video-reviews-slider-item-v2
		height: 300px
		.icon-play
			width: 50px
			height: 50px	

	.contacts-section-wrapper-v2 
		.list-social				
			justify-content: center

@media only screen and (max-width: 576px)
	.h1
		font-size: 40px

	.home-slider
		.box-text
			font-size: 18px
		&__nav
			padding: 0 20px
			bottom: 20px
		.btn
			padding: 0 18px

	.home-slider-item
		padding: 80px 20px

	.home-v2
		.home-slider-item
			padding: 130px 0 70px

	.btn-md
		font-size: 15px
		height: 44px

	.advantages
		padding: 40px 0 30px

	.additional-equipment
		margin: 0 0 40px

	.additional-equipment-list
		font-size: 14px

	.additional-equipment-list-item
		padding: 9px 10px
		&__price
			white-space: nowrap

	h2
		font-size: 26px

	.section-catalog
		margin: 40px 0 50px

	.types-cabins
		margin: 50px 0

	.modal-dialog
		margin: 20px auto

	.modal-content
		padding: 30px

	.modal-title
		font-size: 20px
		line-height: 1

	.modal-header__photo
		width: 80px
		height: 80px
		min-width: 80px
		margin: 0 10px 0 0

	.home-v1
		.fixed-social
			display: none

	.additional-equipment-list-item-v3
		width: 100%

	.modal-v3
		.modal-header__photo
			max-width: 180px
			min-width: auto
			width: 100%
			margin: 0
			height: auto
		.form-modal
			width: calc(100% - 180px)

	.product-card-v2
		min-height: auto

	.product-card-v3
		width: 100%
		height: auto
		.product-card__footer
			display: flex

	.product-card-wrapper
		position: relative

	.types-cabins-card-v3
		.product-card__footer
			opacity: 1

	.advantages-box-v3
		padding: 30px 20px

	h1
		font-size: 30px

	.page-title-wrapper
		padding: 30px 0

	.page-title-wrapper-v2
		padding: 15px 20px
		margin: 20px 0

	.page-politics
		padding: 0 0 70px
		h2
			font-size: 24px
			margin: 0 0 20px
		h3
			font-size: 20px
			margin: 0 0 20px
		.box-text
			font-size: 16px
			line-height: 1.35
			margin: 0 0 30px
			&:last-child
				margin: 0
			p
				margin: 0 0 20px

	.info-box, .meta-box, .description-box
		padding: 15px 20px
		font-size: 16px
		line-height: 1.35
		margin: 20px 0

	.info-box
		align-items: flex-start
		&__icon
			width: 20px
			height: 20px
			min-width: 20px
			margin: 0 10px 0 0

	.callback-contacts
		[type='submit']
			margin: 0 auto
		.consent
			max-width: none
			margin: 10px auto 0
			text-align: center
			width: 100%

	.contacts-box
		&__icon
			margin: 0 auto 24px

	.contacts-advantage-card
		padding: 20px 30px

	.contacts-map-v2
		height: 300px

	.callback-contacts-v2 .consent
		margin: 0 auto 20px

	.callback-contacts-wrapper
		padding: 20px

	.category-list-col, .category-list-col-btn
		width: 33.33%

	.category-list-all
		font-size: 16px
		line-height: 1

	.sorting-box
		p
			margin: 0 0 5px
			width: 100%

	.table-category
		td
			width: 33.33%
			&:first-child
				width: 100%
			&:last-child
				width: 33.33%

	.page-category
		margin: 0 0 70px

	.filter-category-item .dropdown-toggle::after
		margin: 0 0 0 10px

	.filter-category-item
		margin: 0 10px 10px 0
		font-size: 14px
		&:last-child
			margin: 0 0 10px
		.dropdown-menu
			min-width: 160px
			.label-checkbox
				font-size: 12px

	.mt-90
		margin-top: 30px

	.box-text
		p
			margin: 0 0 20px
			&:last-child
				margin: 0

	.accordion-v3
		.accordion-button
			font-size: 16px

	.menu-catalog
		font-size: 16px

	.nav-tabs-v2
		font-size: 16px
		.nav-item
			margin: 0 5px 5px 0
			&:last-child
				margin: 0 0 5px

	.product-card
		.btn
			padding: 0 14px

	.product-gallery-item
		padding: 20px

	.nav-tabs-product-v2
		margin: 40px 0 0
		font-size: 15px

	.additional-equipment-wrapper-v2
		padding: 20px
		&::before
			display: none
		.additional-equipment-list-item
			width: 100%
			padding: 0 0 0 65px

	.nav-tabs-product-v3
		margin: 40px 0 0

	.tab-content-product
		font-size: 16px

	.landing-home-callback
		padding: 30px
		&__title
			font-size: 20px

	.landing-home h1
		font-size: 30px

	.form-callback-offer
		max-width: none
		label, button, .consent
			width: 100%
			max-width: none
		.consent
			margin: 10px 0 0

	.works-slider-gallery-item
		height: 400px

	.accordion-item-v2 
		.accordion-item__number
			min-width: 50px
			span
				
				font-size: 40px
			svg
				width: 40px
				min-width: 40px
				height: 30px
		.accordion-button
			padding: 20px 0
		.accordion-item__arrow
			width: 30px
			height: 30px
			min-width: 30px
			padding: 7px			
		.accordion-collapse
			font-size: 16px

	.contacts-section-box
		margin: 0 0 30px
		&:last-child
			margin: 0 0 30px
		&__title		
			font-size: 18px
		.address
			font-size: 16px
		.phone-box, .mail-box
			margin: 0 0 20px
			a
				font-size: 17px	

	.contacts-section-wrapper
		padding: 30px 20px 0		

	.landing-home-v2
		padding: 100px 0 50px
		.landing-home-advantages-item
			font-size: 18px		
			
	.employee-card-v2 
		.employee-card__photo		
			height: auto

	.accordion-item-v3
		font-size: 16px
		.accordion-button
			font-size: 18px
			padding-left: 50px
		.accordion-body
			padding-left: 50px	

	.contacts-section-wrapper-v2
		padding: 30px
		.contacts-section-box
			margin: 0 0 20px	
			&:last-child
				margin: 0 0 20px			

@media only screen and (max-width: 480px)
	.h1
		font-size: 26px

	.home-slider
		.box-text
			font-size: 16px

	.list-sorting
		font-size: 14px

	.modal-v3
		.modal-header__photo
			max-width: none
			margin: 0 0 20px
		.form-modal
			padding: 0
			width: 100%

	.category-list-col, .category-list-col-btn
		width: 50%

	.product-gallery2
		width: 100%
		order: -1

	.product-gallery-preview2
		width: 100%
		max-width: none
		padding: 0 10px
		.slick-arrow
			top: 50%
			transform: translate(0,-50%)
			svg
				transform: none
		.slick-prev
			left: 0
		.slick-next
			left: auto
			right: 0

	h2
		font-size: 24px

	.special-offer-form 
		button
			position: relative
			margin: 20px auto 10px
			width: 100%
			transform: none	

	.certificates-slider-item-v2
		width: 170px	

	.clients-v2
		padding: 40px 0		

@media only screen and (max-width: 420px)
	.mb-30
		margin-bottom: 20px

	.column-count-3
		column-count: 2

	.home-v3
		.home-slider-item
			padding: 80px 40px 120px 0

	h1
		font-size: 26px

	.breadcrumbs li a::after
		margin: 0 5px

	.product-card-line
		&__footer
			flex-direction: column
		&__price
			margin: 0 auto 10px

	.table-category
		td
			width: 50%
			&:last-child
				width: 50%

	.pagination
		.page-item
			margin: 0 7px 0 0
			&:last-child
				margin: 0
		.page-link
			width: 32px
			height: 32px
			min-width: 32px

	.btn-load-category
		margin: 30px auto 0

	.works-slider-gallery-item
		height: 340px

	.works-slider2 .works-slider-gallery-item
		height: 250px	

	.manager-quote__content
		font-size: 16px	

// @media only screen and (max-width: 370px)

@media only screen and (min-width: 1200px)
	.catalog-card-col
		width: 20%

@media only screen and (min-width: 1300px)
	.catalog-card-col
		width: 12.5%
		padding: 0 13px
