@import "fonts"
@import "vars"

.wrapper
	width: 100%
	height: 100%	

// fonts variable	
.font-Circe
	font-family: $font1
	button, btn, input, textarea, select
		font-family: $font1	


// colors variable
.btn-md
	height: 54px
	font-size: 20px

.btn-accent
	background: $accent
	color: #fff
	&:hover
		background: $green
		color: #fff

.btn-green
	background: $green
	color: #fff
	&:hover
		background: $accent
		color: #fff		

.btn-border-white
	border: 1px solid #fff
	color: #fff
	&:hover
		border-color: $accent
		color: #fff
		background: $accent

.color-accent
	color: $accent

a.color-accent
	color: $accent
	.link-icon
		fill: $accent
	&:hover
		color: $green
		.link-icon
			fill: $green		

.color-grey
	color: $grey	

a.color-grey
	color: $grey
	&:hover
		color: $accent				

.color-white
	color: #fff

a.color-white
	color: #fff
	&:hover
		color: $accent

.color-black
	color: #000				

a.color-black
	color: #000
	&:hover
		color: $accent








