@import "fonts"
@import "vars"

.wrapper
	width: 100%
	height: 100%

.wrapper-header-v2
	padding-top: 143px
	
.wrapper-header-v3
	padding-top: 162px 

.wrapper-header-v4
	padding-top: 159px
	.header-v4 
		.location-city, .phone, .mail
			color: #000
			&__icon
				fill: #000
		.phone-icon, .mail-icon
			fill: #000
		.header-box
			.link-callback
				color: #000
				border-bottom-color: #000
		.list-social
			li
				a
					fill: #000	

.wrapper-header-v5
	padding-top: 149px

.wrapper-header-v6
	padding-top: 129px
	.header-v6
		.menu
			li
				a
					color: #000
		.btn-search
			fill: #000
		.btn-burger
			span
				background: #000
		.phone, .location-city
			color: #000
			&-icon
				fill: #000
		.location-city
			&:after
				filter: grayscale(100%)		
		.header-box		
			.link-callback
				border-bottom-color: #000
				color: #000								
		
			

// colors
.btn-sm
	height: 36px
	font-size: 15px
	font-weight: normal

.btn-md
	height: 54px
	font-size: 20px

.btn-accent
	background: $accent
	color: #fff
	&:hover
		background: $green
		color: #fff

.btn-green
	background: $green
	color: #fff
	&:hover
		background: $accent
		color: #fff

.btn-border-white
	border: 1px solid #fff
	color: #fff
	&:hover
		border-color: $accent
		color: #fff
		background: $accent

.btn-border-black
	border: 1px solid #000
	color: #000
	&:hover
		border-color: $accent
		color: #fff
		background: $accent

.btn-border-grey
	border: solid 1px #d8d8d8
	color: #777
	&:hover
		border-color: $accent
		color: #fff
		background: $accent
		.btn-clear__icon
			fill: #fff

.btn-grey
	background: #f5f5f5
	color: #777
	&:hover
		color: #fff
		background: $accent

.btn-black-grey
	background: #282828
	color: #fff
	&:hover
		background: $accent
		color: #fff

.btn-black
	background: #282828
	color: #fff
	&:hover
		color: #fff
		background: $accent

.color-accent
	color: $accent

a.color-accent
	color: $accent
	.link-icon
		fill: $accent
	&:hover
		color: $green
		.link-icon
			fill: $green

.color-grey
	color: $grey

a.color-grey
	color: $grey
	&:hover
		color: $accent

.color-white
	color: #fff

a.color-white
	color: #fff
	&:hover
		color: $accent

.color-black
	color: #000

a.color-black
	color: #000
	&:hover
		color: $accent

.bg-light-green
	background: #e4f7e5

.bg-grey
	background: #f5f5f5

// классы для новых вариаций добавляются к секции wrapper в начале каждой страницы
// variable-btn-radius - для кнопок с закгруденными краями
// variable-btn-cube - для кнопок без загруглений
// variable-accent-green - для кнопок зеленого цвета
// variable-accent-red - для кнопок красного цвета
// font-Circe - для шрифта Circe (стоит по умолчанию)
// font-Montserrat - для шрифта Montserrat
// font-OpenSans - для шрифта OpenSans
// font-Roboto - для шрифта Roboto

// variable colors theme
.variable-accent-green
	.btn-accent
		background: $green
		&:hover
			background: $accent
	.menu
		li
			a
				&:hover
					color: $green
	.calculate-box
		background: #282828
		.btn
			background: $green
	.contacts-section-wrapper-v2 .list-social li a:hover, .video-reviews-slider-item-v2:hover .icon-play, .pagination .page-link:hover, .location-wrapper .dropdown-toggle::before, .product-card-v3:hover .btn, .slick-dots li.slick-active, .btn-grey:hover, .mobile-menu__close:before, .mobile-menu__close::after, .mobile-menu .menu .submenu li:hover > a, .product-card-v2:hover .btn, .additional-equipment-list-item-v3 .additional-equipment-list-item__icon, .radio-checked, .quick-calculation-v2 .quick-calculation-wrapper, .calculate-box-v3 .calculate-box-range .ui-slider .ui-slider-handle, .calculate-box-v3 .calculate-box-range .ui-slider .ui-slider-range, .landing-home-v2 .landing-home-advantages-item__icon, .calculate-box-v2 .ui-slider .ui-slider-range, .advantages-company-box:hover, .selected-filters-item, .menu-catalog li a::before
		background: $green
	a.color-black:hover, .label-radio-time .inp-radio:checked ~ .radio-text, .color-accent, .list-cities li a.checked, .product-card:hover .product-card__title, .footer-menu li a:hover, .footer-contacts a:hover, .location-city:hover, .header-box .link-callback:hover, a.color-grey:hover, .breadcrumbs li span
		color: $green
	.list-cities li a.checked
		&:hover
			color: $green
	.home-v2 .home-slider__nav .slick-arrow:hover, .slick-arrow:hover, .list-social li a:hover, .footer-contacts__icon, .mobile-menu .location-city__icon, .mobile-menu .schedule-box__icon, .mobile-menu .mail-icon, .mobile-menu .phone-icon, .phone-icon, .link-catalog__icon, .location-city__icon, .mail-icon, .footer-contacts a:hover .footer-contacts__icon, .header-v2 .schedule-box__icon, .info-box__icon, .advantages-company-box__icon, .contacts-section-v3 .contacts-section-wrapper .contacts-section-box__icon, .calculate-box-v2 .information-box__icon, .info-box-item__icon, .works-slider-gallery .slick-arrow:hover, .accordion-item-v2 .accordion-item__arrow, .contacts-box-v2 .contacts-box__icon, .contacts-box-v3 .contacts-box__icon
		fill: $green
	.catalog-card-v3:hover, .catalog-card-v2:hover
		color: $green
		border: solid 2px $green
	.label-radio-product-v2 input:checked ~ .radio-image, .list-sorting-v3 li a.active, .sidebar-menu-list li.active, .list-sorting-v2 li a:hover, .list-sorting-v2 li a.active, .types-cabins-card-v3:hover, .advantages-box-v3, .link-catalog__icon, .product-gallery-preview .slick-current .product-gallery-item
		border-color: $green
	.advantages-box-v3 .advantages-box__icon::before
		background: $green-light
	.header-box .link-callback, .nav-tabs-product-v2, .link-details
		border-bottom-color: $green
	.btn-border-white:hover, .btn-border-black:hover
		border-color: $green
		background: $green
	.list-cities li a::after
		background: url('../img/checked-green.svg') no-repeat center
	.list-sorting li a.active
		color: $green
		background: #EDF9E3
	.footer-v1 .footer-contacts__icon
		fill: #fff
	.list-sorting-v2 li a.active, .list-sorting-v3 li a.active
		background: transparent
	.product-order-info .btn-accent, .heder-v3 .menu .dropdown-menu, .accordion-item-v2.open, .contacts-section-wrapper
		background: #282828
	.nav-tabs-v2 .nav-link.active, .label-radio-time .inp-radio:checked
		color: $green
		background: #EDF9E3
		border-color: $green
	.slider-nav-v2 .slick-arrow:hover, .tab-content-product-v2, .info-box, .description-box, .page-title-wrapper-v3, .list-social-v3 li a:hover, .works-slider-gallery .slick-arrow:hover, .advantages-company-box, .contacts-box-v2, .sidebar-menu, .category-list__item.active, .accordion-v2 .accordion-body, .accordion-v3 .accordion-body, .accordion-v3 .accordion-button:not(.collapsed), .additional-equipment-list-item:nth-child(even)
		background: #EDF9E3
	.accordion-item-v3 .accordion-button:not(.collapsed) .accordion-item__icon,.label-radio-product-v2 input:checked ~ .radio-text .radio-checked, .category-list__clear
		border-color: $green
		background: $green
	.label-radio-product-v3 .radio-image::before, .tab-content-product-v2
		border-color: $green
	.nav-tabs-product-v3 .nav-link.active
		border-bottom-color: transparent
	.description-box
		border-left-color: $green
	.advantages-company-title__number, .calculate-box-v2 .ui-slider .ui-slider-handle, .calculate-box-v2, .question-icon, .category-list__item.active, .additional-equipment-list-item
		border-color: $green
	.slider-nav-v3 .slick-arrow:hover
		background: $green
		fill: #fff
	.label-radio-product input:checked ~ .radio-text, .accordion-v3 .accordion-button:not(.collapsed) .contacts-section-wrapper a:hover, .contacts-advantage-card__title:hover, a.color-white:hover, .filter-category-item .dropdown-menu .inp-check:checked ~ .checkbox-text, .accordion-button:not(.collapsed), .label-checkbox-v2 .inp-check:checked ~ .checkbox-text, .sidebar-submenu-list li a:hover, .accordion-v3 .accordion-button:not(.collapsed)
		color: $green
	.label-checkbox-v2 .inp-check:checked ~ .checkbox-custom, .btn-border-grey:hover
		background-color: $green
		border-color: $green
	.accordion-button:not(.collapsed)::after
		background: url("../img/dropdown-icon-green.svg") no-repeat center
	.accordion-v3 .accordion-button:not(.collapsed)::after
		background: url("../img/accordion-icon-green.svg") no-repeat center
	.additional-equipment-list .additional-equipment-list-item-v3, .advantages-company-box-v2
		background: transparent
	.advantages-company-box-v2:hover
		background: transparent
	.pagination .page-item-arrow .page-link:hover
		background: transparent
		fill: $green
	.types-cabins-card-v3:hover .btn
		background: rgba(40, 40, 40, 0.6)
	.works-slider2 .works-slider-gallery-item::before, .certificates-slider-item-v2:after
		background-color: $green
	.sidebar-menu-list li a:hover
		border-color: $green
		color: $green
	.nav-tabs-v2 .nav-link svg, .blog-card .link .svg-icon, .status-box svg, .status-new .svg-icon, .info-article-item__icon
		fill: $green
	.status-box		
		border-color: $green
	.blog-card__date, .category-blogs-list li::before
		background: $green
	&.wrapper-header-v4
		.header-v4
			.location-city, .phone, .mail
				color: #000
				&__icon
					fill: $green
			.phone-icon, .mail-icon
				fill: $green
			.header-box
				.link-callback
					border-bottom-color: $green
			.menu
				li
					a
						&:hover
							color: $green		
	


.variable-accent-red
	.btn-accent
		background: $red
		&:hover
			background: $accent
	.menu
		li
			a
				&:hover
					color: $red
	.calculate-box
		.btn
			background: $red
	.contacts-section-wrapper-v2 .list-social li a:hover, .video-reviews-slider-item-v2:hover .icon-play, .pagination .page-link:hover, .location-wrapper .dropdown-toggle::before, .product-card-v3:hover .btn, .slick-dots li.slick-active, .btn-grey:hover, .mobile-menu__close:before, .mobile-menu__close::after, .mobile-menu .menu .submenu li:hover > a, .product-card-v2:hover .btn, .additional-equipment-list-item-v3 .additional-equipment-list-item__icon, .radio-checked, .quick-calculation-v2 .quick-calculation-wrapper, .calculate-box-v3 .calculate-box-range .ui-slider .ui-slider-handle, .calculate-box-v3 .calculate-box-range .ui-slider .ui-slider-range, .calculate-box-range .ui-slider .ui-slider-range, .calculate-box-range .ui-slider .ui-slider-handle, .landing-home-v2 .landing-home-advantages-item__icon, .calculate-box-v2 .ui-slider .ui-slider-range, .advantages-company-box:hover, .selected-filters-item, .product-card:hover .btn, .menu-catalog li a::before, .special-offer-form .btn-green
		background: $red
	a.color-black:hover, .label-radio-time .inp-radio:checked ~ .radio-text, .color-accent, .list-cities li a.checked, .product-card:hover .product-card__title, .footer-menu li a:hover, .footer-contacts a:hover, .location-city:hover, .header-box .link-callback:hover, a.color-grey:hover, .breadcrumbs li span
		color: $red
	.list-cities li a.checked
		&:hover
			color: $red
	.home-v2 .home-slider__nav .slick-arrow:hover, .slick-arrow:hover, .list-social li a:hover, .footer-contacts__icon, .mobile-menu .location-city__icon, .mobile-menu .schedule-box__icon, .mobile-menu .mail-icon, .mobile-menu .phone-icon, .phone-icon, .link-catalog__icon, .location-city__icon, .mail-icon, .footer-contacts a:hover .footer-contacts__icon, .header-v2 .schedule-box__icon, .info-box__icon, .advantages-company-box__icon, .contacts-section-v3 .contacts-section-wrapper .contacts-section-box__icon, .calculate-box-v2 .information-box__icon, .info-box-item__icon, .works-slider-gallery .slick-arrow:hover, .accordion-item-v2 .accordion-item__arrow, .contacts-box-v2 .contacts-box__icon, .contacts-box-v3 .contacts-box__icon
		fill: $red
	.catalog-card-v3:hover, .catalog-card-v2:hover
		color: $red
		border: solid 2px $red
	.label-radio-product-v2 input:checked ~ .radio-image, .meta-box, .list-sorting-v3 li a.active, .sidebar-menu-list li.active, .list-sorting-v2 li a:hover, .list-sorting-v2 li a.active, .types-cabins-card-v3:hover, .advantages-box-v3, .link-catalog__icon, .product-gallery-preview .slick-current .product-gallery-item
		border-color: $red
	.advantages-box-v3 .advantages-box__icon::before
		background: $red-light
	.header-box .link-callback, .nav-tabs-product-v2, .link-details
		border-bottom-color: $red
	.list-cities li a::after
		background: url('../img/checked-red.svg') no-repeat center
	.list-sorting li a.active
		color: $red
		background: #FAF2F2
	.footer-v1 .footer-contacts__icon
		fill: #fff
	.list-sorting-v2 li a.active, .list-sorting-v3 li a.active
		background: transparent
	.product-order-info .btn-accent, .header-v3 .menu .dropdown-menu
		background: #282828
	.nav-tabs-v2 .nav-link.active, .label-radio-time .inp-radio:checked
		color: $red
		background: #FAF2F2
		border-color: $red
	.slider-nav-v2 .slick-arrow:hover, .tab-content-product-v2, .info-box, .description-box, .page-title-wrapper-v3, .list-social-v3 li a:hover, .works-slider-gallery .slick-arrow:hover, .advantages-company-box, .contacts-box-v2, .sidebar-menu, .category-list__item.active, .accordion-v2 .accordion-body, .accordion-v3 .accordion-body, .accordion-v3 .accordion-button:not(.collapsed), .additional-equipment-list-item:nth-child(even)
		background: #FAF2F2
	.accordion-item-v3 .accordion-button:not(.collapsed) .accordion-item__icon, .btn-border-white:hover, .btn-border-black:hover, .label-radio-product-v2 input:checked ~ .radio-text .radio-checked, .category-list__clear
		border-color: $red
		background: $red
	.label-radio-product-v3 .radio-image::before, .tab-content-product-v2
		border-color: $red
	.nav-tabs-product-v3 .nav-link.active
		border-bottom-color: transparent
	.description-box
		border-left-color: $red
	.advantages-company-title__number, .calculate-box-v2 .ui-slider .ui-slider-handle, .calculate-box-v2, .question-icon, .category-list__item.active, .additional-equipment-list-item
		border-color: $red
	.slider-nav-v3 .slick-arrow:hover
		background: $red
		fill: #fff
	.label-radio-product input:checked ~ .radio-text, .accordion-v3 .accordion-button:not(.collapsed) .contacts-section-wrapper a:hover, .contacts-advantage-card__title:hover, a.color-white:hover, .filter-category-item .dropdown-menu .inp-check:checked ~ .checkbox-text, .accordion-button:not(.collapsed), .label-checkbox-v2 .inp-check:checked ~ .checkbox-text, .sidebar-submenu-list li a:hover, .accordion-v3 .accordion-button:not(.collapsed)
		color: $red
	.label-checkbox-v2 .inp-check:checked ~ .checkbox-custom, .btn-border-grey:hover
		background-color: $red
		border-color: $red
	.accordion-button:not(.collapsed)::after
		background: url("../img/dropdown-icon-red.svg") no-repeat center
	.accordion-v3 .accordion-button:not(.collapsed)::after
		background: url("../img/accordion-icon-red.svg") no-repeat center
	.additional-equipment-list .additional-equipment-list-item-v3, .advantages-company-box-v2
		background: transparent
	.advantages-company-box-v2:hover
		background: transparent
	.pagination .page-item-arrow .page-link:hover
		background: transparent
		fill: $red
	.types-cabins-card-v3:hover .btn
		background: rgba(40, 40, 40, 0.6)
	.works-slider2 .works-slider-gallery-item::before, .certificates-slider-item-v2:after
		background-color: $red
	.special-offer-form-v3 .consent
		color: #fff
	.sidebar-menu-list li a:hover
		border-color: $red
		color: $red
	.nav-tabs-v2 .nav-link svg, .blog-card .link .svg-icon, .status-box	svg, .status-new .svg-icon, .info-article-item__icon
		fill: $red	
	.status-box		
		border-color: $red
	.blog-card__date, .category-blogs-list li::before
		background: $red	
	&.wrapper-header-v4
		.header-v4
			.location-city, .phone, .mail
				&__icon
					fill: $red
			.phone-icon, .mail-icon
				fill: $red
			.header-box
				.link-callback
					border-bottom-color: $red		
			.menu
				li
					a
						&:hover
							color: $red		

// variable fonts	
.font-Circe
	font-family: $font1
	line-height: 1.3
	button, btn, input, textarea, select
		font-family: $font1

.font-Montserrat
	font-family: $font2
	line-height: normal
	button, btn, input, textarea, select
		font-family: $font2
	.menu, .mobile-menu .menu
		font-size: 15px
	.header-v4 .menu, .header-v7 .menu
		font-size: 15px
	.header-v7
		.btn
			padding: 10px 18px
		.header-contacts
			margin: 0 20px
	.catalog-card-v3 .catalog-card__title
		font-size: 12px
	.list-sorting-v2 li
		margin: 0 20px 0 0
	.product-card-v3
		font-size: 14px
	.product-card__title
		font-size: 16px
	.product-card-wrapper
		padding: 25px 20px
	.additional-equipment-list-item-v2 .additional-equipment-list-item__name
		font-size: 16px
	.h3
		font-size: 18px
	.subscribe-wrapper-text__title
		font-size: 16px
	.footer-wrapper
		font-size: 14px
	.header-v5
		.header-box
			margin: 0 20px 0 auto
	.header-v1
		.search-header
			margin: 0 20px
	.footer-v1
		font-size: 15px
		.subscribe-wrapper-text__title
			font-size: 14px
			max-width: 195px
	.home-v5
		.h1
			font-size: 60px
	.advantages-v2 .advantages-box .h3
		white-space: normal
	.accordion-v3 .accordion-button, .menu-catalog, .category-list__item, .contacts-box-v3, .contacts-box .address
		font-size: 16px
	.sidebar-callback__title
		font-size: 19px
	.sidebar-menu-list, .contacts-box-v2, .contacts-box__title, .phone-box a, .contacts-advantage-card__title, .calculate-box__title, .advantages-company-box, .nav-tabs-v2
		font-size: 18px
	.contacts-box
		line-height: normal
	.contacts-advantage-card__title
		max-width: 290px
	.header-v2
		.schedule-box
			margin: 0 20px 0 0
		.header-box
			margin: 0 auto
		.btn
			padding: 10px 18px
	.logo-description
		font-size: 14px
	.catalog-card-v2 .catalog-card__title, .additional-equipment-list-item-v3
		font-size: 16px
	.landing-home h1
		font-size: 55px
	.information-box
		font-size: 12px
	.callback-offer h2, .advantages-company-box, .contacts-section-box
		line-height: normal
	.form-callback-offer .consent
		font-size: 12px
	.landing-home-v3 .landing-home-advantages-item
		font-size: 22px
	.advantages-company-title h2
		max-width: none
	.description-product-box
		font-size: 14px	
	h1
		font-size: 30px	
	.nav-tabs-v2
		margin: 10px 0 0		

.font-Roboto
	font-family: $font3
	line-height: normal
	button, btn, input, textarea, select
		font-family: $font3
	.logo-description
		font-size: 14px
	.menu
		font-size: 15px
	.header-v4 .menu, .header-v7 .menu
		font-size: 14px
	.header-v7
		.btn
			padding: 10px 18px
		.header-contacts
			margin: 0 20px
	.catalog-card-v3 .catalog-card__title
		font-size: 13px
	.product-card-wrapper
		padding: 25px 20px
	.additional-equipment-list-item-v2 .additional-equipment-list-item__name
		font-size: 16px
	.advantages-box-v3 .box-text
		max-width: none
	.footer-wrapper
		font-size: 15px
	.h3
		font-size: 18px
	.footer-v1
		.subscribe-wrapper-text__title
			font-size: 14px
	.home-v5
		.h1
			font-size: 60px
	.advantages-v2 .advantages-box .h3
		white-space: normal
	.accordion-v3 .accordion-button, .menu-catalog, .category-list__item, .contacts-box-v3, .contacts-box .address
		font-size: 16px
	.sidebar-callback__title
		font-size: 19px
	.sidebar-menu-list, .contacts-box-v2, .contacts-box__title, .phone-box a, .contacts-advantage-card__title, .calculate-box__title, .advantages-company-box, .nav-tabs-v2
		font-size: 18px
	.contacts-box
		line-height: normal
	.contacts-advantage-card__title
		max-width: 290px
	.header-v2
		.schedule-box
			margin: 0 20px 0 0
		.header-box
			margin: 0 auto
		.btn
			padding: 10px 18px
	.catalog-card-v2 .catalog-card__title, .additional-equipment-list-item-v3
		font-size: 16px
	.landing-home h1
		font-size: 55px
	.information-box
		font-size: 12px
	.callback-offer h2, .advantages-company-box, .contacts-section-box
		line-height: normal
	.form-callback-offer .consent
		font-size: 12px
	.landing-home-v3 .landing-home-advantages-item
		font-size: 22px
	.advantages-company-title h2
		max-width: none
	.description-product-box
		font-size: 14px	
	h1
		font-size: 30px		
	.nav-tabs-v2
		margin: 10px 0 0	

.font-OpenSans
	font-family: $font4
	line-height: normal
	button, btn, input, textarea, select
		font-family: $font4
	.logo-description
		font-size: 14px
	.menu
		font-size: 15px
	.header-v4 .menu, .header-v7 .menu
		font-size: 14px
	.header-v7
		.btn
			padding: 10px 18px
		.header-contacts
			margin: 0 20px
	.catalog-card-v3 .catalog-card__title
		font-size: 13px
	.product-card__title
		font-size: 17px
	.product-card-wrapper
		padding: 25px 20px
	.additional-equipment-list-item-v2 .additional-equipment-list-item__name
		font-size: 16px
	.advantages-box-v3 .box-text
		max-width: none
	.footer-wrapper
		font-size: 15px
	.h3
		font-size: 18px
	.footer-v1
		font-size: 15px
		.subscribe-wrapper-text__title
			font-size: 14px
	.home-v5
		.h1
			font-size: 60px
	.advantages-v2 .advantages-box .h3
		white-space: normal
	.accordion-v3 .accordion-button, .menu-catalog, .category-list__item, .contacts-box-v3, .contacts-box .address
		font-size: 16px
	.sidebar-callback__title
		font-size: 19px
	.sidebar-menu-list, .contacts-box-v2, .contacts-box__title, .phone-box a, .contacts-advantage-card__title, .calculate-box__title, .advantages-company-box, .nav-tabs-v2
		font-size: 18px
	.contacts-box
		line-height: normal
	.contacts-advantage-card__title
		max-width: 290px
	.header-v2
		.schedule-box
			margin: 0 20px 0 0
		.header-box
			margin: 0 auto
		.btn
			padding: 10px 18px
	.catalog-card-v2 .catalog-card__title, .additional-equipment-list-item-v3
		font-size: 16px
	.landing-home h1
		font-size: 55px
	.information-box
		font-size: 12px
	.callback-offer h2, .advantages-company-box, .contacts-section-box
		line-height: normal
	.form-callback-offer .consent
		font-size: 12px
	.landing-home-v3 .landing-home-advantages-item
		font-size: 22px
	.advantages-company-title h2
		max-width: none
	.description-product-box
		font-size: 14px	
	h1
		font-size: 30px	
	.nav-tabs-v2
		margin: 10px 0 0	

@media only screen and (max-width: 1400px)
	.font-Roboto, .font-OpenSans, .font-Montserrat
		.product-card__price
			width: 100%
			margin: 0 0 10px
		.landing-home h1
			font-size: 45px

@media only screen and (max-width: 1300px)
	.font-OpenSans, .font-Roboto, .font-Montserrat
		.header-v7
			.menu li
				margin: 0 10px 0 0

	.font-Montserrat .header-v7 .header-contacts
		font-size: 14px

@media only screen and (max-width: 1230px)
	.font-OpenSans , .font-Roboto, .font-Montserrat
		.header-v7
			.header-contacts
				margin: 0 auto 0 30px
		.header-v2
			font-size: 14px

@media only screen and (max-width: 1110px)
	.font-Montserrat
		.header-v1
			.location-wrapper
				margin: 0 10px
			.btn
				padding: 10px 18px

	.font-OpenSans , .font-Roboto, .font-Montserrat
		.header-v2
			.header-box
				margin: 0 10px
			.schedule-box
				margin: 0 20px 0 auto

@media only screen and (max-width: 992px)
	.font-Montserrat
		.header-v5 .header-box
			margin: 0 20px 0 auto
		.catalog-card-v3 .catalog-card__title
			font-size: 16px
		.header-v1
			font-size: 15px
		.home-v5 .h1
			font-size: 50px

@media only screen and (max-width: 768px)
	.font-Montserrat
		.header-v5 .header-box
			margin: 0

	.font-OpenSans, .font-Roboto, .font-Montserrat
		.header-v7
			.header-contacts
				margin: 0 20px 0 auto
		.home-v5 .h1
			font-size: 40px
		.landing-home h1
			font-size: 30px
		.landing-home-v3 .landing-home-advantages-item
			font-size: 20px

@media only screen and (max-width: 480px)
	.font-OpenSans, .font-Roboto, .font-Montserrat
		.home-v5
			.h1
				font-size: 28px
		.landing-home h1
			font-size: 28px
		h1
			font-size: 22px	

// variable buttons
.variable-btn-radius
	.btn, input, textarea, select, .filter-category-item .dropdown-toggle, .category-list__item, .additional-equipment-wrapper, .additional-equipment-list-item.additional-equipment-list-item-v2:last-child
		border-radius: 30px
	.pagination .page-link, .works-slider-gallery .slick-arrow
		border-radius: 50%
	.category-list__clear
		top: -5px
		right: 5px
	.accordion-v3 .accordion-item, .accordion-v3 .accordion-item:last-of-type, .sidebar-callback, .sidebar-menu, .product-card, .product-card-v2 .product-card-wrapper, .accordion-v2 .accordion-body, .selected-filters-item, .catalog-card-v3, .label-radio-time .inp-radio, .catalog-card, .catalog-card__bg, .catalog-card::before, .contacts-box, .contacts-map, .contacts-map iframe, .callback-contacts-wrapper, .calculate-box, .works-slider-gallery-item, .works-slider-gallery-item img, .list-sorting li a, .employee-card, .employee-card__photo, .employee-card::before, .video-reviews-slider-item, .video-reviews-slider-item__preview, .works-slider2 .works-slider-gallery-item, .works-slider2 .works-slider-gallery-item img, .slider-nav-v3 .slick-arrow, .slider-nav-v2 .slick-arrow, .certificates-slider-item img, .product-gallery-preview .product-gallery-item, .nav-tabs-v2 .nav-link, .product-order-info
		border-radius: 20px
	.best-offers-v3
		.product-card
			border-radius: 0
	.additional-equipment-list-item:first-child, .accordion-v3 .accordion-button, .accordion-v3 .accordion-item:first-of-type .accordion-button
		border-radius: 20px 20px 0 0
	.additional-equipment-list-item:last-child, .accordion-v3 .accordion-body
		border-radius: 0 0 20px 20px
	.certificates-slider-item
		border-radius: 20px
		overflow: hidden
	.employee-card-v2 .employee-card__photo
		border-radius: 0

.variable-btn-cube
	.btn, input, textarea, select, .filter-category-item .dropdown-toggle, .category-list__item, .catalog-card-v3, .additional-equipment-list-item-v2:last-child, .additional-equipment-list-item-v2:first-child, .advantages-box-v3, .menu .dropdown-menu, .sidebar-callback, .sidebar-menu, .product-card, .product-card-v2 .product-card-wrapper, .accordion-v2 .accordion-body, .selected-filters-item, .label-radio-time .inp-radio, .catalog-card, .catalog-card__bg, .catalog-card::before, .advantages-wrapper, .accordion-v3 .accordion-body, .accordion-item, .accordion-button, .accordion-item:last-of-type .accordion-button.collapsed, .accordion-item:last-of-type, .contacts-box, .contacts-map, .contacts-map iframe, .callback-contacts-wrapper, .contacts-advantage-card, .catalog-card-v2 .catalog-card__bg, .catalog-card-v2 .catalog-card__bg img, .list-sorting li a, .additional-equipment-wrapper, .home-slider-item, .home-slider-item::before, .home-slider-item__bg, .additional-equipment-list-item:first-child, .additional-equipment-list-item:last-child, .calculate-box, .callback-offer-wrapper, .works-slider-gallery-item, .works-slider-gallery-item img, .works-slider-gallery .slick-arrow, .advantages-company-box, .certificates-slider-item, .certificates-slider-item::before, .video-reviews-slider-item, .video-reviews-slider-item:before, .employee-card, .employee-card::before, .contacts-section-wrapper, .quick-calculation-wrapper, .slider-nav-v3 .slick-arrow, .slider-nav-v2 .slick-arrow, .video-reviews-slider-item__preview, .works-slider2 .works-slider-gallery-item img, .employee-card__photo, .employee-card__photo img, .dropdown-v1 .dropdown-toggle, .dropdown-v1 .dropdown-menu, .employee-card-v3 .employee-card__photo, .contacts-section-v3 .contacts-section__map, .contacts-section-v3 .contacts-section__map iframe, .page-title-wrapper-v2, .info-box, .meta-box, .product-gallery-preview .product-gallery-item, .product-order-info, .nav-tabs-v2 .nav-link
		border-radius: 0
	.pagination .page-link
		border-radius: 0
	.tab-content-product-v2
		border-radius: 0
